<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>문의사항 작성</title>
<link rel="stylesheet" href="/css/inquery.css">
<style>


.inquery-write-container{
	display: flex;
	justify-content: center;
	align-items : center;
}
.inquery-write-wrap{
	width:1000px;
}
.inquery-write-wrap .input-item>input[type=text]{
	border-bottom : none;
	padding: 0;
}
.inquery-write-wrap .input-item>textarea{
	height: 300px
}
.isOpen{
	
}
.isOpenCheckbox{
	float:left;
}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	<main class="content inquery-write-container">
		<section class="section inquery-write-wrap">
		<div class="totalWrap">
		
		</table>
			<div class="page-title">문의사항(QnA) 작성</div>
				<!-- 
					첨부파일을 포함해서 데이터를 전송하는 경우
					method = "post"
					enctype="multipart/form-data"
					두 값이 반드시 명시되어야 함
				 -->
				 <form action="/inquery/write" method="post" enctype="multipart/form-data">
				 	<table class="tbl">
				 	
					 	<!-- 공개여부 -->
					 	<tr>
					 		<th style="border-top:1px solid black;">공개여부</th>
					 		<td style="padding:20px;">
						 		<input class="isOpenCheckbox" type="checkbox" name="open" value="1">
					 		</td>
					 	</tr>
					 			 	
					 	<tr>
							<th style="border-top:1px solid black;">제목</th>
							<td colspan="3" style="border-top:1px solid black;">
								<div class="input-item">
									<input type="text" name="inqueryTitle" style="outline:none;">
								</div>
							</td>
						</tr>
						
						<tr>
							<th style="width:10%;">작성자</th>
							<td style="width:40%;">
								<span th:text="${session.member.memberId}"></span>
								<input type="hidden" name="inqueryWriter" th:value="${session.member.memberId}">
							</td>
							<th style="width:10%; ">첨부파일</th>
							<td style="width:40%;">
								<!-- input type=file의 name은 반드시 vo의 변수명과 다르게 작성 -->
								<input type="file" name="upfile" multiple>
							</td>				
						</tr>			
						
						<tr>
							<td colspan="4" class="left">
								<!-- 본문은 여러줄의 값을 입력하므로 input이 아닌 textarea로 받음 -->
								<textarea name="inqueryContent" id="inqueryContent"></textarea>								
							</td>
						</tr>
						
					 	<tr>
							<td colspan="4">							
								<button type="submit" class="btn-primary">공지사항 작성</button>
							</td>
						</tr>	
										
				 	</table>
				 </form>
			</div>
		</section>
	</main>
	
	
	
	<!-- 
	  <script>
        document.querySelector('.btn-primary').addEventListener('click', function(event) {
            // 폼을 제출하기 전에 체크박스의 상태를 확인
            const checkbox = document.querySelector('.isOpenCheckbox');
            if (checkbox.checked) {
                handleCheckboxChecked();
            } else {
                handleCheckboxUnchecked();
            }
        });

        function handleCheckboxChecked() {
        
        }

        function handleCheckboxUnchecked() {
          
        }
    </script>		
	 -->

    
	
	
	<script>
	// 1. Summernote 에디터를 초기화, onImageUpload 콜백 함수를 설정하여 사용자가 이미지를 업로드할 수 있게 합니다. -> 2. controller로 이동	
		$("#inqueryContent").summernote({
			height:500,
			// 한글로 나옴
			lang:"ko-KR",
			// 밑에 세줄 : 텍스트에디터 크기 고정
			disableResize:true,
			disableResizeEditor:true,
			resize:false,
			//사용자가 어떤 행동을 하면 이 함수가 돌아감
			callbacks:{
				//사용자가 이미지를 올리면 동작할 함수 지정
				onImageUpload:function(files){
					//이미지를 선택하면 해당 파일을 매개변수로 받음
					//이미지를 처리할 함수를 실행 -> 이때 매개변수로 첨부한 파일, 에디터객체를 전송
					uploadImage(files[0],this);	
				}
			}
		});		
		
		//controller 후 -> 3.서버에서 반환한 이미지 URL을 Summernote 에디터에 삽입
		function uploadImage(file, editor){
			//ajax로 서버에 이미지 업로드
			//업로드 결과로 업로드된 파일의 filepath를 받아옴
			//받아온 filepath를 이용해서 editor 화면에 표현
			
			//ajax로 파일 업로드
			//<form>역할의 객체 생성
			const form = new FormData();
			form.append("upfile",file);
			/*
			<form>
				<input type="file" name="upfile">
			</form>
			*/
			$.ajax({
				url:"/inquery/editorImage",
				type:"post",
				data:form,
				processData:false,
				contentType:false,
				success:function(data){					
					$(editor).summernote("insertImage",data);
				},
				error:function(){
					console.log("에러");
				}
			});
			//processData:데이터 전송 시 기본적으로 문자열로 전송하게 세팅 -> 그 기본 세팅을 무효화
			//contentType:enctype="application/x-www-form-urlencoded;charset=utf-8"
			//			-> enctype 기본값 해제
			//processData, contentType 기본설정을 해제해야 파일 전송 가능
			//enctype="multipart/form-data"
		}
		
    
		
	</script>
	
	
	<th:block th:include="common/footer"></th:block>
	
	
	
	
	
	
	
	
	
	

	
	
</body>
</html>