<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>문의사항</title>
<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" href="/css/inquery.css">
<style>
.inquery-list-wrap{
	width : 1200px;
	margin : 0 auto;
}
.inquery-list-wrap>div:nth-child(3){
	height:500px;
}
#pageNavi{
	margin-top : 30px;
}
.list-header{
	padding : 10px 0px;
}
#write-btn{
	display: inline-block;
}
#searchFrm{
	display: flex;
	float : right;
}
#searchFrm .select{
	width:90px;
}	
</style>
</head>
<body>

	<th:block th:include="common/header"> </th:block>
	
	<main class="content">
		<section class="section inquery-list-wrap">
			<div class="totalWrap">
				<div class="page-title">문의사항(QnA)</div>			
				
				<div class="list-header">					
					<a th:if="${session.member != null && session.member.memberGrade == 2}" class="btn-point" id="write-btn" href="/inquery/editorFrm">글쓰기</a>
					<!-- 검색기능 -->
					<!-- 
					<form action="/inquery/search" method="get" id="searchFrm">										 
						<div class="input-item">
							<div class="select">							
								<select name="type">
									<option value="title">제목</option>
									<option value="writer">작성자</option>
								</select>						
							</div>
							<input type="text" name="keyword">
							<button type="submit" class="btn-primary">조회</button>
						</div>							
					</form>						
					 -->
				</div>
				
				<div>
					<table class="tbl tbl-hover">
					
						<tr>
							<th style="width:10%;">글번호</th>
							<th style="width:45%;">제목</th>
							<th style="width:15%;">작성자</th> 
							<th style="width:20%;">작성일</th>
							<th style="width:10%;">조회수</th>
						</tr>
						
						<!-- 
						<tr th:each="inquery: ${list}">
							<td th:if="${inquery.inqueryOpen == 1 || (inquery.inqueryOpen == 0 && session.member.memberId == inquery.inqueryWriter)}" th:text="${inquery.inqueryNo}"></td>
							<td th:if="${inquery.inqueryOpen == 1 || (inquery.inqueryOpen == 0 && session.member.memberId == inquery.inqueryWriter)}" class="left"><a th:href="@{/inquery/view(inqueryNo=${inquery.inqueryNo})}" th:text="${inquery.inqueryTitle}"></a></td>
							<td th:if="${inquery.inqueryOpen == 1 || (inquery.inqueryOpen == 0 && session.member.memberId == inquery.inqueryWriter)}" th:text="${inquery.inqueryWriter}"></td>
							<td th:if="${inquery.inqueryOpen == 1 || (inquery.inqueryOpen == 0 && session.member.memberId == inquery.inqueryWriter)}" th:text="${inquery.inqueryRegDate}"></td>
							<td th:if="${inquery.inqueryOpen == 1 || (inquery.inqueryOpen == 0 && session.member.memberId == inquery.inqueryWriter)}" th:text="${inquery.inqueryReadCount}"></td>						
						</tr>								
						 -->
					
						<tr th:each="inquery: ${list}">
							<td th:if="${inquery.inqueryOpen == 1 || session.member.memberId == inquery.inqueryWriter}" th:text="${inquery.inqueryNo}"></td>
							<td th:if="${inquery.inqueryOpen == 1 || session.member.memberId == inquery.inqueryWriter}" class="left"><a th:href="@{/inquery/view(inqueryNo=${inquery.inqueryNo})}" th:text="${inquery.inqueryTitle}"></a></td>
							<td th:if="${inquery.inqueryOpen == 1 || session.member.memberId == inquery.inqueryWriter}" th:text="${inquery.inqueryWriter}"></td>
							<td th:if="${inquery.inqueryOpen == 1 || session.member.memberId == inquery.inqueryWriter}" th:text="${inquery.inqueryRegDate}"></td>
							<td th:if="${inquery.inqueryOpen == 1 || session.member.memberId == inquery.inqueryWriter}" th:text="${inquery.inqueryReadCount}"></td>						
						</tr>	
						
						
					
					</table>
				</div>	
				<!-- 
					th:text로 문자열을 넣으면 태그로 동작하지 않고 문자열로 표현
					문자열을 태그로 인식시키려면 th:utext를 사용
				 -->
				<!--  
				-->
					<div id="pageNavi" th:utext="${pageNavi}"></div> 
				<!-- 
				<tr th:each="inquery: ${list}">
					<td th:if="${inquery.inqueryOpen == 1 || session.member.memberId == inquery.inqueryWriter}" id="pageNavi" th:utext="${pageNavi}">
						
					</td>
				</tr>		
				 -->
			
			</div>
		</section>
	</main>
	
	<th:block th:include="common/footer"></th:block>
	
</body>
</html>
































