<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>신고 현황</title>
</head>

<body>
	<th:block th:include="common/header"></th:block>
	<main class="main report-list">
		<section class="report-list-wrap round-box shadow">
			<div class="page-title">
				<h2 class="page-title">게시글 신고 현황</h2>
			</div>
			<div class="search">
				<form action="#" method="get">
					<input type="text" name="repondentId" class="searchId" placeholder="검색할 아이디를 입력하세요">
					<button class="btn btn-point">검색</button>
				</form>
			</div>
			<div class="tbl">
				<table class="tbl report-list">
					<thead>
						<tr>
							<th style="width:3%;"></th>
							<th style="width:10%;">작성자</th>
							<th style="width:10%;">
								<div class="dropdown">
									<button class="btn btn-none dropdown-toggle" type="button" data-bs-toggle="dropdown"
										aria-expanded="false">
										게시글 유형
									</button>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="#">맛집 리스트 리뷰</a></li>
										<li><a class="dropdown-item" href="#">맛집 추천 게시글</a></li>
										<li><a class="dropdown-item" href="#">댓글</a></li>
									</ul>
								</div>
							</th>
							<th style="width:20%;">
								<div class="dropdown">
									<button class="btn btn-none dropdown-toggle dropdown-custom" type="button"
										data-bs-toggle="dropdown" aria-expanded="false">
										신고 사유
									</button>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="#">스팸 홍보/도배</a></li>
										<li><a class="dropdown-item" href="#">음란물</a></li>
										<li><a class="dropdown-item" href="#">불법 정보 포함</a></li>
										<li><a class="dropdown-item" href="#">불쾌한 내용 포함</a></li>
										<li><a class="dropdown-item" href="#">잘못된 정보 포함</a></li>
										<li><a class="dropdown-item" href="#">기타</a></li>
									</ul>
								</div>
							</th>
							<th style="width:25%;">신고 내용</th>
							<th style="width:25%;">게시글 내용(...)</th>
							<th style="width:7%;"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="check">
								<input type="checkbox" id="" class="report-check">
							</td>
							<td>작성자ID</td>
							<td>댓글/게시글</td>
							<td>불쾌한 내용 포함</td>
							<td class="report-content">이딴 글을 올리게 냅두면 안되죠 예? 자꾸 이러실 거에요?...</td>
							<td class="report-board-content">게시글 내용 에베베베베베베베베베베벱베베벱베베베베...</td>
							<td>
								<div class="btn-box">
									<button class="btn btn-sm btn-point">확인</button>
									<button class="btn btn-sm btn-mono">삭제</button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="check">
								<input type="checkbox" id="" class="report-check">
							</td>
							<td>작성자ID</td>
							<td>댓글/게시글</td>
							<td>불쾌한 내용 포함</td>
							<td class="report-content">이딴 글을 올리게 냅두면 안되죠 예? 자꾸 이러실 거에요?...</td>
							<td class="report-board-content">게시글 내용 에베베베베베베베베베베벱베베벱베베베베...</td>
							<td>
								<div class="btn-box">
									<button class="btn btn-sm btn-point">확인</button>
									<button class="btn btn-sm btn-mono">삭제</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="btn-box">
				<button class="btn btn-lg btn-mono">선택 신고 확인</button>
				<button class="btn btn-lg btn-point">전체 신고 확인</button>
			</div>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>

</html>