<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
<link rel="stylesheet" href="/css/findPw.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	 <main class="content">
        <div class="findPw-container show">
            
            <h4>비밀번호 찾기</h4>
            <div class="findPw-content">
                <div class="findPw-input">
                    <form class="find-form" action="/member/findPwUpdate" method="post" autocomplete="off">
                        <span for="name">이름</span>
                        <input type="text" id="name" name="memberName" placeholder="이름">
                        <span for="id">아이디</span>
                        <input type="text" id="id" name="memberId" placeholder="아이디" >
                        <span for="email">이메일 주소</span>
                        <input type="text" id="email" name="memberEmail" placeholder="가입시 이메일">
                        <button class="sendBtn"type="button">인증하기</button>
                        <pre class="msg"></pre>
	                    <button style="display : block" class="submit-btn"type="button">다음</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </main>
    <script>
 	$(".submit-btn").on("click",function(){
		const input1 = $("input[name=memberName]").val();
		const input2 = $("input[name=memberEmail]").val();
		const input3 = $("input[name=memberId]").val();
		if(input1 == "" || input2 == "" || input3 == ""){
			$(".msg").text("* 정보를 모두 입력해주세요.");
		}else{
			$(".find-form").submit();
		}
			
	});
    </script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>