<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	 <main class="content">
        <div class="login-container show">
            
            <h2>로그인</h2>
            <div class="login-content">
                <div class="login-input">
                    <form class="login-form" action="/member/login" method="post" autocomplete="off">
                        <input type="text" name="memberId" placeholder="아이디" >
                        <input type="password" name="memberPw" placeholder="비밀번호" >
                        <button class="login-btn"type="submit">로그인</button>
                    </form>
                    <pre class="msg"></pre>
                    <div class="find-links">
                        <a href="#" id="find-id">아이디 찾기</a>
                        <a href="#" id="find-pw">비밀번호</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>