<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>아이디 찾기</title>
<link rel="stylesheet" href="/css/findId.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	 <main class="content">
        <div class="findId-container show">
            
            <h4>아이디 찾기</h4>
            <div class="findId-content">
                <div class="findId-input">
                    <strong id="strong">본인확인 이메일로 인증</strong>
                    <form class="login-form" action="/member/findId" method="post" autocomplete="off">
                        <span for="name">이름</span>
                        <input type="text" id="name" name="memberName" placeholder="이름" >
                        <span for="email">이메일 주소</span>
                        <input type="text" id="email" name="memberEamil" placeholder="가입시 이메일">
                        <button class="sendBtn"type="button">인증하기</button>
                    </form>
                    <button class="login-btn"type="submit">다음</button>
                    <pre class="msg"></pre>
                </div>
            </div>
        </div>
    </main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>