<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<script src="js/jquery-3.7.1.js"></script>
<link rel="stylesheet" href="/css/joinFrm.css">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main>
		<div class="main1">
	        <div class="container page1">
	            <div class="title">회원가입</div>
	            
	                <div class="form-group1 no1">
	                    <input type="checkbox" id="ageCheck" class="essential1">
	                    <label for="ageCheck"><span>만 14세 이상입니다 (필수)</span>
	                </div>
	                <div class="form-group1 no2">
	                    <input type="checkbox" id="termsCheck" class="essential2">
	                    <label for="termsCheck"><span>이용약관 동의 (필수)</span>&numsp;&numsp;&numsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	                        <a href="#">내용보기</a></label>
	                </div>
	                <div class="form-group1 no3">
	                    <input type="checkbox" id="personalInfoCheck" name="check" class="essential3">
	                    <label for="personalInfoCheck"><span>개인 정보 수집 및 이용 동의 (필수)</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	                        <a href="#">내용보기</a></label>
	                </div>
	                <table class="PIC-tbl">
	                    <tr>
	                        <th>개인정보 수집</th>
	                    </tr>
	                    <tr>
	                        <th>목적</th>
	                        <td>&emsp;&emsp;개인식별, 서비스 이용을 위한 연락처</td>
	                    </tr>
	                    <tr>
	                        <th>항목</th>
	                        <td>&emsp;&emsp;이름, 아이디, 비밀번호, 이메일</td>
	                    </tr>
	                    <tr>
	                        <th>보유기간</th>
	                        <td>&emsp;&emsp;회원 탈퇴 시 즉시 파기</td>
	                    </tr>
	                </table>
	                <div class="form-group1 no4">
	                    <input type="checkbox" id="optionalInfoCheck" name="check">
	                    <label for="optionalInfoCheck"><span>선택 정보 수집 및 이용 동의</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	                        <a href="#">내용보기</a></label>
	                </div>
	                <table class="PIC-tbl">
	                    <tr>
	                        <th>개인정보 수집</th>
	                    </tr>
	                    <tr>
	                        <th>목적</th>
	                        <td>&emsp;&emsp;맞춤 정보 제공, 마케팅</td>
	                    </tr>
	                    <tr>
	                        <th>항목</th>
	                        <td>&emsp;&emsp;성별, 생년월일, 이메일</td>
	                    </tr>
	                    <tr>
	                        <th>보유기간</th>
	                        <td>&emsp;&emsp;회원 탈퇴 시 즉시 파기</td>
	                    </tr>
	                </table>
	                <div class="form-group1 no5">
	                    <input type="checkbox" id="emailMarketingCheck" name="check">
	                    <label for="emailMarketingCheck">이메일 마케팅 수신 동의</label>
	                </div>
	                <div class="form-group1 no6">
	                    <input type="checkbox" id="personalInfoperiodCheck" name="check">
	                    <label for="personalInfoperiodCheck">개인정보 유효기간 3년 지정 (미동의 시 1년)</label>
	                </div>
	                <div class="next-btn" >
	                    <button type="button" disabled>다음 단계 1/2</button>
	                </div>
	        </div>
	        <div class="main2">
	            <div class="container page2">
	                <span class="material-icons">arrow_back</span>
	                <div class="title">회원가입</div>
	                <form action="/member/join" method="post" id="signupForm" autocomplete="off">
	                    <div class="form-main">
	                        <div class="form-section">
	                            <div class="section-title">회원정보</div>
	                            <div class="form-group2">
	                                <input type="text" class="id" name="memberId" placeholder="아이디">
	                            </div>
	                            <p class="input-msg id-check-msg"></p>
	                            <div class="form-group2">
	                                <input type="password" class="pw" name="memberPw"placeholder="비밀번호">
	                            </div>
	                            <p class="input-msg pw-check-msg"></p>
	                            <div class="form-group2">
	                                <input type="password" class="pwRe" name="memberPwRe"placeholder="비밀번호 확인">
	                            </div>
	                            <p class="input-msg pwRe-check-msg "></p>
	                            <div class="form-group2 email-group">
	                                <input type="text" class="email1" id="inputBox1" placeholder="이메일"  >
	                                <span>@</span>
	                                <input type="text" class="email2" id="inputBox2" disabled >
	                                <input type="hidden" id="memberEmail" name="memberEmail">
	                                <div class="selectBox">
	                                    <select class="select">
	                                        <option value="" selected >선택</option>
	                                        <option value="naver.com" id="naver.com">naver.com</option>
	                                        <option value="daum.com" id="daum.com">daum.com</option>
	                                        <option value="gmail.com" id="gmail.com">gmail.com</option>
	                                        <option value="hanmail.net" id="hanmail.com">hanmali.net</option>
	                                        <option value="nate.com" id="nate.com">nate.com</option>
	                                        <option value="diretly" id="textEmail">직접 입력하기</option>
	                                    </select>
	                                    <span class="icoArrow"><img src="/image/pngegg.png" alt=""></span>
	                                </div>
	                            </div>
	                            <p class="input-msg email-check-msg"></p>
	                        </div>
	                        <div class="form-section">
	                            <div class="section-title">개인정보</div>
	                            <div class="form-group2">
	                                <input type="text" class="name" name="memberName" placeholder="이름" >
	                            </div>
	                            <p class="input-msg name-check-msg"></p>
	                            <div class="form-group2 info">
	                                <input type="text" class="year" id="birth-year" placeholder="YYYY" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  maxlength="4"  >
	                                <input type="text" class="month" id="birth-month" placeholder="MM" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  maxlength="2" >
	                                <input type="text" class="day" id="birth-day" placeholder="DD" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  maxlength="2" >
	                                <input type="hidden" id="memberBirthDate" name="memberBirthDate" >
	                            </div>
	                            <p class="input-msg birth-check-msg"></p>
	                            <div class="form-group2 phone-group">
	                                <input type="text" class="phone" name="memberPhone" placeholder="휴대폰 번호  -없이 입력" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  maxlength="11" >
	                                <button class="input-btn"type="button">인증하기</button>
	                            </div>
	                            <p class="input-msg phone-check-msg"></p>
	                            <div class="section-title">주소</div>
	                            <div class="form-group2">
	                                <input type="text" class="addr1" id="addr1" placeholder="주소" disabled >
	                                <button class="input-btn" id="addrSearch" type="button">검색</button>
	                            </div>
	                            <div class="form-group2">
	                                <input type="text" class="addr2" id="addr2" placeholder="상세주소" >
	                                <input type="hidden" id="memberAddr" name="memberAddr">
	                            </div>
	                            <p class="input-msg addr-check-msg"></p>
	                            <div class="section-title">성별</div>
	                            <div class="form-group2 gender-group">
	                                <input type="radio" class="gender1" id="male" name="memberGender" value="남자"><label for="male" >남자</label>
	                                <input type="radio" class="gender2" id="female" name="memberGender" value="여자"><label for="female">여자</label>
	                            </div>
	                             <p class="input-msg gender-check-msg"></p>
	                        </div>
	                    </div>
	                    <div class="submit-button">
	                    <button type="submit" >가입완료</button>
	                    </div>
	                </form>
	            </div>
	        </div>
		</section>
	    <script>
	    
	    	//다음페이지 넘어가는 로직
	        $(".next-btn>button").on("click",function(){
	            
	            const page1 = $(".page1");
	            const page2 = $(".page2");
	            page1.addClass("close");
	            page2.addClass("show");
	            if(page1.hasClass("show") == true){
	                page1.removeClass("show");
	                page1.addClass("close");
	                page2.removeClass("close");
	                page2.addClass("show");
	            }
	        });
	        //뒤로가기 버튼 
	        $(".material-icons").on("click",function(){
	            const page2 = $(".page2");
	            page2.removeClass("show");
	            page2.addClass("close");
	            const page1 = $(".page1");
	            page1.removeClass("close");
	            page1.addClass("show");
	        })
			//이메일 선택시 input disabled 로직
	        $('.select').change(function() {
	            if ($('.select').val() == 'diretly') {
	                $('#inputBox2').attr("disabled", false);
	                $('#inputBox2').val("");
	                $('#inputBox2').focus();
	            } else {
	                $("#inputBox2").attr("disabled", true);
	                $('#inputBox2').val($('.select').val());
	                
	            }
	        });
	        
	        //이메일 input 서로 합치는 로직 
	        $('#signupForm').on('submit', function(event) {
	            // Get values from the input fields
	            var year = $('#birth-year').val();
	            var month = $('#birth-month').val();
	            var day = $('#birth-day').val();
	            
	            // Initialize an empty formatted date string
	            var formattedDate = '';
	
	            // Check if all values are numeric and not empty
	            if ($.isNumeric(year) && $.isNumeric(month) && $.isNumeric(day)) {
	                // Format the date as YYYYMMDD
	                // Ensure that year, month, and day are properly padded
	                formattedDate = year.padStart(4, '0') + month.padStart(2, '0') + day.padStart(2, '0');
	                
	                // Set the value of the memberBirthDate field
	                $('#memberBirthDate').val(formattedDate);
	            } else {
	                // Prevent form submission if the inputs are not valid
	                event.preventDefault();
	            }
	            //이메일 input 합치기
	            var email1 = $('#inputBox1').val();
	            var email2 = $('#inputBox2').val();
	
	            var finalEmail = '';
	            
	            finalEmail = email1 +'@'+ email2 ;
	
	            $('#memberEmail').val(finalEmail);
	            
	            //주소 input 합치기
	            var addr1 = $("#addr1").val();
	            var addr2 = $("#addr2").val();
	            var finalAddr = '';
	            finalAddr = addr1 + addr2;
	            $('#memberAddr').val(finalAddr);
	            
	            if($(".form-group2>.id").val()==""){
					event.preventDefault();
	            	$(".id-check-msg").text("아이디를 입력해주세요");
					$(".id-check-msg").addClass("invalid");
	            }
	            if($(".form-group2>.pw").val()==""){
					event.preventDefault();
	            	$(".pw-check-msg").text("비밀번호를 입력해주세요");
					$(".pw-check-msg").addClass("invalid");
	            }
	            if($(".form-group2>.pwRe").val()==""){
					event.preventDefault();
	            	$(".pwRe-check-msg").text("비밀번호확인을 입력해주세요");
					$(".pwRe-check-msg").addClass("invalid");
	            }
	            if($(".form-group2>.email1").val()==""){
					event.preventDefault();
					console.log('asdasd')
	            	$(".email-check-msg").text("E-mail을 입력해주세요");
					$(".email-check-msg").addClass("invalid");
	            }
	            if($(".form-group2>.email2").val()==""){
					event.preventDefault();
	            	$(".email-check-msg").text("E-mail을 입력해주세요");
					$(".email-check-msg").addClass("invalid");
	            }
	            if($(".form-group2>.email2").val()==""){
					event.preventDefault();
	            	$(".email-check-msg").text("E-mail을 입력해주세요");
					$(".email-check-msg").addClass("invalid");
	            }
	            if($(".form-group2>.name").val()==""){
					event.preventDefault();
	            	$(".name-check-msg").text("이름을 입력해주세요");
					$(".name-check-msg").addClass("invalid");
	            }
	            if($(".form-group2>.year,.month,.day").val()==""){
					event.preventDefault();
	            	$(".birth-check-msg").text("생년월일을 입력해주세요");
					$(".birth-check-msg").addClass("invalid");
	            }
	            if($(".form-group2>.phone").val()==""){
					event.preventDefault();
	            	$(".phone-check-msg").text("휴대폰번호을 입력해주세요");
					$(".phone-check-msg").addClass("invalid");
	            }
	            if($(".form-group2>.addr1,.addr2").val()==""){
	            	event.preventDefault();
	            	$(".addr-check-msg").text("주소를 입력해주세요");
					$(".addr-check-msg").addClass("invalid");
	            }
	            if($(".form-group2>.gender1,.gender2").prop("checked",false )){
	            	event.preventDefault();
	            	$(".gender-check-msg").text("성별을 선택해주세요");
					$(".gender-check-msg").addClass("invalid");
	            }
	            
	            
	            
	        });
	             
	        
	        //회원가입 약관 필수 체크 로직
	      $(".essential1").on("click",function(){
	    if($(".essential1").is(":checked")==true&&$(".essential2").is(":checked")==true&&$(".essential3").is(":checked")==true){
	      $(".next-btn>button").attr("disabled", false);					
	      
	      console.log('true')
	    }else if($(".essential1").is(":checked")==false||$(".essential2").is(":checked")==false||$(".essential3").is(":checked")==false){
	      $(".next-btn>button").attr("disabled", true);
	    }
	  });
	      $(".essential2").on("click",function(){
	    if($(".essential1").is(":checked")==true&&$(".essential2").is(":checked")==true&&$(".essential3").is(":checked")==true){
	      $(".next-btn>button").attr("disabled", false);					
	      
	      console.log('true')
	    }else if($(".essential1").is(":checked")==false||$(".essential2").is(":checked")==false||$(".essential3").is(":checked")==false){
	      $(".next-btn>button").attr("disabled", true);
	    }
	  });
	  $(".essential3").on("click",function(){
	    if($(".essential1").is(":checked")==true&&$(".essential2").is(":checked")==true&&$(".essential3").is(":checked")==true){
	      $(".next-btn>button").attr("disabled", false);					
	      
	      console.log('true')
	    }else if($(".essential1").is(":checked")==false||$(".essential2").is(":checked")==false||$(".essential3").is(":checked")==false){
	      $(".next-btn>button").attr("disabled", true);
	    }
	  });
	  
	  
	  //아이디 중복체크
	  $("input[name=memberId]").on("keyup",function(){
				$(".id-check-msg").removeClass("valid").removeClass("invalid");
				const memberId = $(this).val();
				//정규표현식
				const idReg = /^[a-zA-Z0-9]{4,20}$/;
				if(idReg.test(memberId)){
					//정규표현식에 만족 -> ajax로 아이디 중복체크
					$.ajax({
						url:"/member/ajaxCheckId",
						type:"get",
						data:{memberId:memberId},
						success:function(data){
							console.log(data)
							if(data == 0){
								$(".id-check-msg").text("사용 가능한 아이디 입니다.");
								$(".id-check-msg").addClass("valid");
							}else{
								$(".id-check-msg").text("이미 사용중인 아이디 입니다.");
								$(".id-check-msg").addClass("invalid");
							}
						},
						error:function(){
							console.log("에러 발생");
						}
					});
				}else{
					if(memberId == ''){
						$(".id-check-msg").text("");
						$(".id-check-msg").removeClass("invalid");
						
					}else{
						$(".id-check-msg").text("아이디는 영어+숫자로 4~20글자 입니다.");
						$(".id-check-msg").addClass("invalid");
					}
				}
			});
	  
	   //비밀번호 input.val("") 이면 에러메세지
	  $("input[name=memberPw]").on("change",function(){
		  const pwValue = $("input[name=memberPw]").val();
		  if(pwValue==""){
		  	$(".pw-check-msg").removeClass("valid")
			  $(".pw-check-msg").addClass("invalid");
			  $(".pw-check-msg").text("비밀번호를 입력해주세요.");
		  }
	  });
	  
	  //비밀번호 유효성 검사 
	  $("input[name=memberPw]").on("keyup",function(){
		  const pwValue = $("input[name=memberPw]").val();
		  const regArr =  /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/ ;
		  const check = regArr.test(pwValue);      
			
		  if(check){
			  $(".pw-check-msg").removeClass("valid").removeClass("invalid");
			  $(".pw-check-msg").text("사용가능합니다..");
				$(".pw-check-msg").addClass("valid");
		  }else if(!check){
			  $(".pwRe-check-msg").removeClass("valid").removeClass("invalid");
			  $(".pw-check-msg").text("비밀번호는 8글자이상 영문대소문자 숫자 특수문자(@$!%*#?&)를 포함해야합니다.");
				$(".pw-check-msg").addClass("invalid");
		  }else{
			  $(".pw-check-msg").text("");
		  }
		 
	  });
	  
	  	//비밀번호확인 실패시 에러메세지 성공시 성공메메세지
	  	$("input[name=memberPwRe]").on("change",function(){
			$(".pwRe-check-msg").removeClass("valid").removeClass("invalid");
			const pwValue = $("input[name=memberPw]").val();
			const pwReValue = $("input[name=memberPwRe]").val();
			if(pwReValue==""){
				$(".pwRe-check-msg").removeClass("valid").removeClass("invalid");
				$(".pwRe-check-msg").text("");
			}else if(pwValue === pwReValue){
				$(".pwRe-check-msg").text("비밀번호가 일치합니다.");
				$(".pwRe-check-msg").addClass("valid");
			}else{
				$(".pwRe-check-msg").text("비밀번호가 일치하지 않습니다.");
				$(".pwRe-check-msg").addClass("invalid");
			}
		});	  
	  
	  	//email 중복체크
		$("#inputBox1").on("change",function(){
			$(".email-check-msg").removeClass("valid").removeClass("invalid");
			const memberEmail = $(this).val();
			const emailReg = /^[a-zA-Z0-9._%+-]{4,15}$/ ;
			if(emailReg.test(memberEmail)){
				$.ajax({
					url:"/member/ajaxCheckEmail",
					type:"get",
					data:{memberEmail:memberEmail},
					success:function(data){
						console.log(data)
						if(data == 0){
							$(".email-check-msg").text("사용 가능한 이메일 입니다.");
							$(".email-check-msg").addClass("valid");
						}else{
							$(".email-check-msg").text("이미 사용중인 이메일 입니다.");
							$(".email-check-msg").addClass("invalid");
						}
					},
					error:function(){
						console.log("에러 발생");
					}
				});
			}else{
				$(".email-check-msg").text("영문 대 소문자 숫자 ._%+- 기호만 사용가능합니다.");
				$(".email-check-msg").addClass("invalid");
			}
		});
		
		//생년월일 입력시 조건에 안맞으면 메세지 출력
		$("#birth-year,#birth-month,#birth-day").on("change",function(){
			var input1 = $("#birth-year").val();
			var input2 = $("#birth-month").val();
			var input3 = $("#birth-day").val();
			if(input1>'2024'||input1<'1960'){
				console.log('asdasdasd');
				$(".birth-check-msg").text("");
				$(".birth-check-msg").text("1900~2024년도 까지만 입력가능합니다.");
				$(".birth-check-msg").addClass("invalid");
			}else if(input2>'12'){
				$(".birth-check-msg").text("");
				$(".birth-check-msg").text("1~12월 까지만 입력가능합니다.");
				$(".birth-check-msg").addClass("invalid");
			}else if(input3>'31'){
				$(".birth-check-msg").text("");
				$(".birth-check-msg").text("1~31일 까지만 입력 가능합니다.");
				$(".birth-check-msg").addClass("invalid");
			}else{
				$(".birth-check-msg").text("");
				$(".birth-check-msg").removeClass("invalid");
			}
		});
		
		$(".form-group2>.phone").on("change",function(){
			if($(".form-group2>.phone").val()==""){
				$(".phone-check-msg").text("휴대폰 번호를 입력해주세요");
				$(".phone-check-msg").addClass("invalid");
			}else{
				$(".phone-check-msg").text("");
				$(".phone-check-msg").removeClass("invalid");
			}
		});
		
		$(".form-group2>.gender1").on("click",function(){
			if($(".form-group2>.gender1").prop("checked",true)){
				$(".gender-check-msg").text("");
				$(".gender-check-msg").removeClass("invalid");
			}
		});
		$(".form-group2>.gender2").on("click",function(){
			if($(".form-group2>.gender2").prop("checked",true)){
				$(".gender-check-msg").text("");
				$(".gender-check-msg").removeClass("invalid");
			}
		});
		
		
		
		//지도 Api
		
		$("#addrSearch").on("click",function(){
			console.log
			new daum.Postcode({
		        oncomplete: function(data) {
		            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
		            // 예제를 참고하여 다양한 활용법을 확인해 보세요.
		        	console.log(data);
		            $("#addr1").val(data.roadAddress);
		        }
		    }).open();
		})
		$(".form-group2>#addr2").on("change",function(){
			console.log('asdasd')
			const input = $("#addr2").val();
			if(input==""){
				$(".addr-check-msg").text('상세주소를 입력해주세요.');
				$(".addr-check-msg").addClass("invalid");
			}else{
				$(".addr-check-msg").text('');
				$(".addr-check-msg").removeClass("invalid");
			}
		});
	        
        
    </script>
</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>