<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>맛집 상세 페이지</title>

<!-- 부트스트랩 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/css/font.css"> 

<!-- sweetalert2 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

<!-- 맛집 상세보기 메인 css -->
<link rel="stylesheet" href="/css/restrView.css">

</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=zzl0s76r4r&submodules=geocoder"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<body>
	<th:block th:include="common/header"></th:block>
	<div>

		<div class="restr-wrap">
			<div class="restr-wrap-content">
				<div class="shop-imgs">
					<div class="shop-img">
						<img th:src="@{'/yomi/' + ${r.restrImg1}}">
					</div>
					<div class="shop-img">
						<img th:src="@{'/yomi/' + ${r.restrImg2}}">
					</div>
					<div class="shop-likes">
						<span th:if="${r.isLike == 0}" class="material-icons"
							id="like-none" th:onclick="likePush(this,[[${r.restrNo}]]);">favorite</span>
						<span th:if="${r.isLike == 1}" style="color: #FC7A1E;"
							class="material-icons" id="like-yes"
							th:onclick="likePush(this,[[${r.restrNo}]]);">favorite</span>
							
						<span th:if="${r.isBookmark == 0}" class="material-icons" id="bookmark-none" th:onclick="bookmarkPush(this,[[${r.restrNo}]]);">bookmark</span>
						<span th:if="${r.isBookmark == 1}" style="color: #FC7A1E;"
							class="material-icons" id="bookmark-yes" th:onclick="bookmarkPush(this,[[${r.restrNo}]]);">bookmark</span>
					</div>
				</div>
				<div>
					<h2 class="shop-title" id="shop-title" th:text="${r.restrName}"></h2>
				</div>
				<div class="stars1">
					<div class="star-wrap star-wrap2">
						<span class="material-icons">grade</span> <span
							class="material-icons">grade</span> <span class="material-icons">grade</span>
						<span class="material-icons">grade</span> <span
							class="material-icons">grade</span>
						<div class="star-on">
							<div class="star-wrap star-on-wrap">
								<span class="material-icons">grade</span> <span
									class="material-icons">grade</span> <span
									class="material-icons">grade</span> <span
									class="material-icons">grade</span> <span
									class="material-icons">grade</span>
							</div>
						</div>
					</div>

					<th:block th:if="${reviewCount} != 0">
						<p id="star-avg" th:text="${starAvg}"></p>
						<p th:text="'(' + ${reviewCount}+'명의 평가)'"></p>
					</th:block>
					<th:block th:if="${reviewCount} == 0">
						<p>(작성된 리뷰가 없습니다.)</p>
					</th:block>
				</div>
				<div class="shop-information">
					<div>
						<span class="material-icons">location_on</span><span id="addr1" th:text="${r.restrAddr1}"></span> <span id="addr2" th:text="${r.restrAddr2}"></span>
					</div>
					<div>
						<span class="material-icons">call</span> <span th:text="${r.restrTel}"></span>
					</div>
				</div>
				<div class="menu-and-tag">
					<div class="menu">
						<h3>메뉴</h3>
						<ul th:each="menu : ${r.restrMenu}">
							<li class="menu-li">
								<p th:text="${menu.restrMenuName}"></p>
								<p th:text="${menu.restrMenuPrice}+'원'"></p>
							</li>
						</ul>
					</div>
					<div class="tag">
						<h3>태그</h3>
						<div class="tags" th:each="tag : ${r.restrTag}">
							<div class="restr-tag" th:text="'#' + ${tag.restrTagName}"></div>
						</div>
					</div>
				</div>
				<div class="shop-content">
					<h3>매장 소개</h3>
					<p th:text="${r.restrContent}">설명</p>
				</div>
			</div>
		</div>

		<input type="hidden" id="mapx" th:value="${r.restrMapx}"> <input
			type="hidden" id="mapy" th:value="${r.restrMapy}">
		<div id="map"
			style="width: 100%; height: 400px; margin: 0 auto; border: solid black 1px;"></div>


		<!-- 리뷰 -->
		<div class="review-wrap">
			<div class="review-title">
				<h2>리뷰</h2>
				<th:block th:if="${reviewCount} != 0">
					<h4 th:text="'(' + ${reviewCount}+'명의 평가)'"></h4>
				</th:block>
				<th:block th:if="${reviewCount} == 0">
					<h4>(작성된 리뷰가 없습니다.)</h4>
				</th:block>
			</div>
			<div class="review-content">
				<div class="review-header">
					<div class="graph">
						<canvas id="myChart"></canvas>
					</div>
					<div class="review-tags"></div>
				</div>

				<div class="review-form collapsed">

					<form action="/restaurant/writeReview" method="post"
						id="review-frm" enctype="multipart/form-data">
						<div class="stars2">
							<div class="star-rating" id="star-rating">
								<span class="material-icons" data-value="1">grade</span> <span
									class="material-icons" data-value="2">grade</span> <span
									class="material-icons" data-value="3">grade</span> <span
									class="material-icons" data-value="4">grade</span> <span
									class="material-icons" data-value="5">grade</span>
							</div>
						</div>
						<input type="hidden" id="reviewStar" name="reviewStar">

						<textarea placeholder="리뷰를 작성하세요." name="reviewContent"
							id="reviewContent"></textarea>
						<div class="upload">
							<div class="mb-3">
								<input class="form-control" type="file" name="upfile"
									id="formFile" multiple>
							</div>

							<button
								style="background-color: #FC7A1E; border: none; margin-bottom: 5px;"
								type="button" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#exampleModal">키워드 추가</button>
							<div class="keywords"></div>
						</div>

						<!-- 모달 -->
						<div class="modal fade" id="exampleModal" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel">키워드
											추가 (0~5개 선택)</h1>
										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<h4>음식</h4>
										<input type="checkbox" class="btn-check" id="btn-check-1"
											autocomplete="off" name="keywords" value="맛있어요"> <label
											class="btn" for="btn-check-1">맛있어요</label> <input
											type="checkbox" class="btn-check" id="btn-check-2"
											autocomplete="off" name="keywords" value="메뉴가 다양해요">
										<label class="btn" for="btn-check-2">메뉴가 다양해요</label> <input
											type="checkbox" class="btn-check" id="btn-check-3"
											autocomplete="off" name="keywords" value="반찬이 다양해요">
										<label class="btn" for="btn-check-3">반찬이 다양해요</label> <input
											type="checkbox" class="btn-check" id="btn-check-4"
											autocomplete="off" name="keywords" value="양이 많아요"> <label
											class="btn" for="btn-check-4">양이 많아요</label>

										<hr>
										<h4>분위기</h4>
										<input type="checkbox" class="btn-check" id="btn-check-5"
											autocomplete="off" name="keywords" value="분위기가 좋아요">
										<label class="btn" for="btn-check-5">분위기가 좋아요</label> <input
											type="checkbox" class="btn-check" id="btn-check-6"
											autocomplete="off" name="keywords" value="인테리어가 예뻐요">
										<label class="btn" for="btn-check-6">인테리어가 예뻐요</label>

										<hr>
										<h4>서비스</h4>
										<input type="checkbox" class="btn-check" id="btn-check-7"
											autocomplete="off" name="keywords" value="청결해요"> <label
											class="btn" for="btn-check-7">청결해요</label> <input
											type="checkbox" class="btn-check" id="btn-check-8"
											autocomplete="off" name="keywords" value="친절해요"> <label
											class="btn" for="btn-check-8">친절해요</label> <input
											type="checkbox" class="btn-check" id="btn-check-9"
											autocomplete="off" name="keywords" value="예약이 편해요"> <label
											class="btn" for="btn-check-9">예약이 편해요</label> <input
											type="checkbox" class="btn-check" id="btn-check-10"
											autocomplete="off" name="keywords" value="반려동물 동반 가능해요">
										<label class="btn" for="btn-check-10">반려동물 동반 가능해요</label> <input
											type="checkbox" class="btn-check" id="btn-check-11"
											autocomplete="off" name="keywords" value="포장이 가능해요">
										<label class="btn" for="btn-check-11">포장이 가능해요</label>

										<hr>
										<h4>시설</h4>
										<input type="checkbox" class="btn-check" id="btn-check-12"
											autocomplete="off" name="keywords" value="주차가 편해요"> <label
											class="btn" for="btn-check-12">주차가 편해요</label> <input
											type="checkbox" class="btn-check" id="btn-check-13"
											autocomplete="off" name="keywords" value="화장실이 깨끗해요">
										<label class="btn" for="btn-check-13">화장실이 깨끗해요</label> <input
											type="checkbox" class="btn-check" id="btn-check-14"
											autocomplete="off" name="keywords" value="무료 와이파이"> <label
											class="btn" for="btn-check-14">무료 와이파이</label>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">닫기</button>
										<button id="addKeyword" type="button" class="btn btn-primary"
											style="background-color: #FC7A1E; border: none;">추가</button>
									</div>
								</div>
							</div>
						</div>


						<div class="button-container">
							<button type="submit" class="submit-btn">등록</button>
						</div>
						<input type="hidden" id="restrNo" name="restrNo"
							th:value="${r.restrNo}">
					</form>
				</div>

				<button class="toggle-btn">리뷰 작성</button>

			</div>

			<div class="review-list-wrap">
				<!--			
	            <div class="review-list">
	                <div class="review">
	                    <div class="review-head">
	                        <div class="author-icon"></div>
	                        <div class="author-info">
	                            <span class="author-name">작성자</span>
	                            <span class="review-date">2024/08/01</span>
	                        </div>
	                    </div>
	                    <div class="review-rating">
	                        <span class="material-icons star">grade</span>
	                        <span class="rating-score">4.5</span>
	                    </div>
	
	                    <div class="write-review-content">
	                        <p>리뷰 내용</p>
	                        <div class="review-image">
	                            <img>
	                        </div>
	                    </div>
	                    <div class="write-tag">
	                        <span>멋있어요</span>
	                    </div>
	                </div>
	            </div>
            -->
			</div>
			<div class="more-btn-wrap">
				<button class="review-more-btn" id="review-more-btn">더보기</button>
			</div>
		</div>
		
		<!-- 수진 : 신고 모달 띄우는 중.. -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-div modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">신고 하기</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="" method="get">
							<div class="respondent-info">
								<div class="report-board-type">
									<span class="info-name">글 유형</span> <span class="info-dot">
										: </span> <span class="info-content">맛집 리스트 리뷰 </span> <input
										type="hidden" name="reportBoardType" value="1"
										id="reportBoardType"> <input type="hidden"
										name="reportReviewNo" id="reportReviewNo">
								</div>
								<div class="respondent-id">
									<span class="info-name">작성자</span> <span class="info-dot">
										: </span> <span class="info-content"></span> <input type="hidden"
										name="respondentNo" id="respondentNo">
								</div>
							</div>
							<div class="input-box report-type">
								<div class="info-name-box">
									<span class="info-name">신고 사유 : </span>
								</div>
								<div class="info-content">
									<div class="input">
										<input type="radio" name="reportType" id="reportType1"
											value="스팸 홍보/도배"> <label for="reportType1">스팸
											홍보/도배</label>
									</div>
									<div class="input">
										<input type="radio" name="reportType" id="reportType2"
											value="음란물"> <label for="reportType2">음란물</label>
									</div>
									<div class="input">
										<input type="radio" name="reportType" id="reportType3"
											value="불법 정보 포함"> <label for="reportType3">불법
											정보 포함</label>
									</div>
									<div class="input">
										<input type="radio" name="reportType" id="reportType4"
											value="불쾌한 내용 포함"> <label for="reportType4">불쾌한
											내용 포함</label>
									</div>
									<div class="input">
										<input type="radio" name="reportType" id="reportType5"
											value="잘못된 정보 포함"> <label for="reportType5">잘못된
											정보 포함</label>
									</div>
									<div class="input">
										<input type="radio" name="reportType" id="reportType6"
											value=""> <label for="reportType6">기타</label> 
											<input
											type="text" placeholder="기타 사유를 적어주세요.">
									</div>
								</div>
							</div>
							<div class="input-box report-content">
								<div class="info-name-box">
									<span class="info-name">신고 내용 : </span>
								</div>
								<div class="info-content">
									<textarea name="reportContent" id="reportContent"
										placeholder="자세한 신고 이유를 입력하세요."></textarea>
								</div>
							</div>
							<input type="reset" id="reset" style="display : none;">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-mono-modal"
							data-bs-dismiss="modal">취소</button>
						<button type="button" class="btn btn-point-modal">신고</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 여기까지 수진 신고 모달 -->


		<script th:inline="javascript">
            const restrNoInput = document.getElementById('restrNo');
            const restrNo = parseFloat(restrNoInput.value);
            const reviewCount = [[${ reviewCount }]];

            let currentCount = 0;
            let start = 1;
            $("#review-more-btn").on("click", function () {
                const amount = 4;
                $.ajax({
                    url: "/restaurant/reviewMore",
                    type: "get",
                    data: { start: start, amount: amount, restrNo: restrNo },
                    success: function (data) {
                        for(let i = data.length - 1; i >= 0; i--) {
                            const review = data[i];
                            const reviewDiv = $("<div>").addClass("review");

                            const reviewHeadDiv = $("<div>").addClass("review-head");
                            const authorIconDiv = $("<div>").addClass("author-icon");
                            const authorInfoDiv = $("<div>").addClass("author-info");
                            const authorNameSpan = $("<span>").addClass("author-name");
                            if(review.memberName != null) {                            	
                            	authorNameSpan.text(review.memberName);
                            } else {
                            	authorNameSpan.text("탈퇴한 회원");
                            }
                            const reviewDateSpan = $("<span>").addClass("review-date").text(review.reviewRegDate);
                            
                            const reviewLikeCountSpan = $("<span>").addClass("review-like-count").text(review.reviewLikeCount);
                            	
                            
                            let reviewLikeId = "";
                            let reviewLikeColor = ""; 
                            
                            if(review.isReviewLike == 0) {                            	
                            	reviewLikeId = "review-like-no";
                            	reviewLikeColor = "#B3B3B3";
                            } else {                            	
                            	reviewLikeId = "review-like-yes";
                            	reviewLikeColor = "#FC7A1E";
                            }
                            
                            const likeSpan = $("<span>")
	                            .addClass("material-icons")
	                            .attr("id", reviewLikeId)
	                            .text("favorite")
	                            .css("color", reviewLikeColor)
	                            .on("click", function() {
	                                reviewLikePush(this, review.reviewNo);
	                            });
                            
                            const reportButton = $("<button data-bs-toggle='modal' data-bs-target='#staticBackdrop'>").addClass("report-btn").text("신고");
                            //수진 : 신고모달에 정보 전달용
                            reportButton.on("click", function(){
                            	insertReport(review);
                            });
							//
                            authorInfoDiv.append(authorNameSpan).append(reviewDateSpan);
                            reviewHeadDiv.append(authorIconDiv).append(authorInfoDiv).append(likeSpan).append(reviewLikeCountSpan).append(reportButton);

                            const reviewRatingDiv = $("<div>").addClass("review-rating");
                            const starSpan = $("<span>").addClass("material-icons star").text("grade");
                            const ratingScoreSpan = $("<span>").addClass("rating-score").text(review.reviewStar);

                            reviewRatingDiv.append(starSpan).append(ratingScoreSpan);

                            const reviewContentDiv = $("<div>").addClass("write-review-content");
                            const contentParagraph = $("<p>").text(review.reviewContent);
                            
                            reviewContentDiv.append(contentParagraph);
  
                            if(review.reviewImg != null) {                            	
	                            review.reviewImg.forEach(img => {                            	
		                            const reviewImageDiv = $("<div>").addClass("review-image");
		                            const reviewImage = $("<img>");
		                            reviewImage.attr("src", "/review/"+img.reviewFilePath);
		                            reviewImageDiv.append(reviewImage);
		                            reviewContentDiv.append(reviewImageDiv);
	                            });
                            }

                            const tagDiv = $("<div>").addClass("write-tag");

                            review.reviewTag.forEach(tag => {
                                const tagSpan = $("<span>").addClass("tag").text(tag.reviewTagName);
                                tagDiv.append(tagSpan);
                            });

                            reviewDiv.append(reviewHeadDiv).append(reviewRatingDiv).append(reviewContentDiv).append(tagDiv);

                            const reviewList = $("<div>").addClass("review-list").append(reviewDiv);

                            $(".review-list-wrap").append(reviewList);
                        }
                        start = start + amount;
                        currentCount = currentCount + data.length;

                        if (currentCount == reviewCount) {
                            $("#review-more-btn").remove();
                        }
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            });
            //최초에 페이지에 접속하면 더보기버튼을 강제로 한 번 클릭
            $("#review-more-btn").click();
            
            //수진 : 신고 모달 함수
            //0.sw2 설정
            var reportSwal = Swal.mixin({
            				customClass: {
            					confirmButton: "btn btn-point-swal btn-lg",
            					cancelButton: "btn btn-mono-swal btn-lg",
            					title: "point",
            				},
            				confirmButtonText: "확인",
            				buttonsStyling: false
            			});
            //1. 모달에 정보 전달하기
            function insertReport(review){
            	//console.log(review);
            	$("input#reportReviewNo").val(review.reviewNo);
            	$("input#respondentNo").val(review.memberNo);
            	$("input#respondentNo").prev().text(review.memberName);
            	$("input#reportType6").next().next().on("change", function(){
            		const content = $(this).val()
            		$("input#reportType6").val(content);
            	})
            }
            //2. 신고버튼 누르면 신고작성되기
            $("button.btn-point-modal").on("click", function(){
            	const reportBoardType = $("input#reportBoardType").val();
            	const reportReviewNo = $("input#reportReviewNo").val();
            	const respondentNo = $("input#respondentNo").val();
            	const reportType = $("input[name=reportType]:checked").val();
            	//console.log(reportType);
            	const reportContent = $("textarea#reportContent").val();
            	if(reportType == ""){
            		reportSwal.fire({
            			title: "신고 불가",
            			text: "필수 입력 정보가 누락되었습니다. 신고 사유를 정확히 체크해주세요.",
            			icon:"info",
            			color : "var(--mainFont)"
            		});
            		//alert("신고 사유를 정확히 체크해주세요.");
            	}else if(reportContent==""){
            		reportSwal.fire({
            			title: "신고 불가",
            			text: "필수 입력 정보가 누락되었습니다. 자세한 신고 이유를 작성해주세요.",
            			icon:"info",
            			color : "var(--mainFont)"
            		});
            		//alert("자세한 신고 이유를 작성해주세요.")
            	}else{
            		$.ajax({
            			url : "/report/insertReviewReport",
            			type:"get",
            			data : {
            				reportBoardType : reportBoardType,
            				reportReviewNo : reportReviewNo,
            				respondentNo : respondentNo,
            				reportType : reportType,
            				reportContent : reportContent
            			},
            			success : function(data){
            				console.log(data);
            				if(data>0){
            					reportSwal.fire({
            						title : "신고 완료",
            						text : "성공적으로 신고가 접수되었습니다.",
            						icon : "success",
            						color : "var(--mainFont)"
            					});
            				}else if(data == -1){
            					reportSwal.fire({
            						title : "신고  불가",
            						text : "자기 자신을 신고할 수 없습니다.",
            						icon : "error",
            						color : "var(--mainFont)"
            					});
            				}else if(data == -2){
            					reportSwal.fire({
            						title : "신고  불가",
            						text : "이미 신고한 게시물입니다.",
            						icon : "error",
            						color : "var(--mainFont)"
            					});
            				}else{
            					reportSwal.fire({
            						title : "신고  불가",
            						text : "해당 게시글을 신고할 수 없습니다.",
            						icon : "error",
            						color : "var(--mainFont)"
            					});
            				}
            			},
            			error : function(){
            				reportSwal.fire({
            					title : "신고 실패",
            					text : "시스템 오류가 발생했습니다. 잠시후 다시 시도해주세요",
            					icon : "error",
            					color : "var(--mainFont)"
            				});
            			},
            			complete : function(){
            				$("#staticBackdrop").modal("hide");
            				//$("#staticBackdrop").find("input[type=text]").val("");
            				//$("#staticBackdrop").find("textarea").val("");
            				//$("#staticBackdrop").find("input:radio").removeAttr("checked");
            				$("input#reset").click();
            			}
            		});
            	}
            })
            //여기까지 신고접수
            //수진 js2 : 이미지 주소를 쿠키로 가져오기
            $(document).ready(function(){
            	const imgsrc = $("div.shop-img").first().children().attr("src");
            	const cookieName = "restrImg1";
            	
            	let existingValue = Cookies.get(cookieName);
            	let cookieValues = existingValue? existingValue.split(","):[];
            	
            	if(cookieValues.length>=3){
            		cookieValues.shift();
            	}
            	cookieValues.push(imgsrc);
            	
            	Cookies.set(cookieName, cookieValues.join(","), {path:"/", expires:1});
            });
            //이미지 주소 쿠키로 저장하기 끝
        </script>
	</div>

	<div class="blog-wrap">
		<div class="blog-list">
			<div class="blog-header">
				<p>블로그 후기</p>
			</div>
			<div class="blog-results" th:each="result : ${searchResults}">
				<a class="blog" th:href="${result.link}">
					<div class="blog-result">
						<h4 th:utext="${result.title}"></h4>
						<p th:utext="${result.description}"></p>
						<p>
							<strong>닉네임:</strong> <span th:utext="${result.bloggerName}"></span>
						</p>
						<p>
							<strong>작성일:</strong> <span th:utext="${result.postDate}"></span>
						</p>
					</div>
				</a>
				<hr>
			</div>
		</div>
	</div>
	<th:block th:if="${session.member != null}">
		<div class="buttons" th:if="${session.member.memberGrade} == 1">
			<button class="delete-btn">삭제하기</button>
			<button class="update-btn">수정하기</button>
		</div>
	</th:block>

	<th:block th:include="common/footer"></th:block>

	<script>
        //수진 : 삭제, 수정하기 버튼 클릭하려고 function 조금 만들게요...
        $("button.delete-btn").on("click", function () {
        	const swal = Swal.mixin({
        	    customClass: {
        	        confirmButton: "btn btn-point-swal btn-lg",
        	        cancelButton: "btn btn-mono-swal btn-lg",
        	        title: "point",
        	    },
        	    buttonsStyling: false
        	});
 
        	swal.fire({
        		title : "맛집 삭제",
        		text:"정말 삭제하시겠습니까?",
        		icon:"question",
        		iconColor : "var(--point1)",
        		showCancelButton : true,
        		cancelButtonText : "취소",
        	    confirmButtonText: "삭제",
        	}).then(result=>{
        		if(result.isConfirmed){
		            location.href = "/restaurant/deleteRestr?restrNo=" + [[${ r.restrNo }]];
        		}
        	});
        });
        $("button.update-btn").on("click", function () {
            location.href = "/restaurant/updateFrm?restrNo=" + [[${ r.restrNo }]];
        });
        //여기까지가 수진
        
        
        
        //키워드 추가
        $("#addKeyword").on("click", function () {
            // 기존에 추가된 키워드 항목 삭제
            $(".keywords").empty();

            // 체크된 버튼을 순회하며 새로 추가
            $(".btn-check:checked").each(function () {
                const label = $("label[for='" + this.id + "']").text();
                const keywordDiv = $("<div>").addClass("keyword-item").text(label);
                $(".keywords").append(keywordDiv);
            });
        });


        document.addEventListener("DOMContentLoaded", function () {
            const toggleBtn = document.querySelector(".toggle-btn");
            const reviewForm = document.querySelector(".review-form");

            toggleBtn.addEventListener("click", function () {
                const restrNoInput = document.getElementById('restrNo');
                const restrNo = parseFloat(restrNoInput.value);

                if (reviewForm.classList.contains("collapsed")) {
                    $.ajax({
                        url: "/restaurant/writeReviewFrm",
                        type: "POST",
                        data: { restrNo: restrNo }, // 서버에서 기대하는 형식
                        success: function (response) {
                            if (response == -10) {
                                Swal.fire({
                                    title: "로그인 필요",
                                    text: "로그인 후 이용해 주세요",
                                    icon: "info"
                                });
                            } else {
                                reviewForm.classList.remove("collapsed");
                                toggleBtn.textContent = "접기";
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error("Error: " + error);
                        }
                    });
                } else {
                    reviewForm.classList.add("collapsed");
                    toggleBtn.textContent = "리뷰 작성";
                }
            });
        });

        $(function () {
            initMap();
        });

        //네이버 지도 api 띄우기
        function initMap() {
            const mapxInput = document.getElementById('mapx');
            const mapyInput = document.getElementById('mapy');

            const mapx = parseFloat(mapxInput.value);
            const mapy = parseFloat(mapyInput.value);      

            var map = new naver.maps.Map('map', {
                zoomControl: true,
                zoomControlOptions: {
                    position: naver.maps.Position.TOP_RIGHT,
                    style: naver.maps.ZoomControlStyle.SMALL
                },
                center: new naver.maps.LatLng(mapx, mapy),
                zoom: 20
            });

            const marker = new naver.maps.Marker({
                position: new naver.maps.LatLng(mapx, mapy),
                map: map
            });
            
            const titleDiv = document.getElementById('shop-title');
            const title = titleDiv.textContent;
            
            const addr1Span = document.getElementById('addr1');
            const addr1 = addr1Span.textContent;
            const addr2Span = document.getElementById('addr2');
            const addr2 = addr2Span.textContent;
            
            let contentString = [
            	"<div class='map-marker'>",
    			"	<h3>"+title+"</h3>",
    			"	<p>"+addr1+" "+addr2+"</p>",
    			"</div>"
    		].join("");

    		infoWindow = new naver.maps.InfoWindow({
    			content : contentString,
    			borderColor: "#FC7A1E",
    			borderWidth: "2"
    		});
    		
    		infoWindow.open(map,marker);
        }

        function likePush(obj, restrNo) {
            const likeId = $(obj).attr('id');
            const isLike = (likeId == "like-none") ? 0 : 1;

            $.ajax({
                url: "/restaurant/likePush",
                data: { restrNo: restrNo, isLike: isLike },
                type: "post",
                success: function (data) {
                    if (data == -10) {
                        Swal.fire({
                            title: "로그인 필요",
                            text: "로그인 후 이용해 주세요",
                            icon: "info"
                        });
                    } else if (data == -1) {
                        Swal.fire({
                            title: "데이터 처리 오류",
                            text: "잠시 후 다시 시도해주세요.",
                            icon: "warning"
                        });
                    } else {
                        if (isLike == 0) {
                            Swal.fire({
                                title: "좋아요 완료",
                                text: "좋아요를 누르셨습니다.",
                                icon: "success"
                            });
                            $(obj).css("color", "#FC7A1E");
                            $(obj).attr("id", "like-yes");
                        } else {
                            Swal.fire({
                                title: "좋아요 취소",
                                text: "좋아요를 취소하셨습니다.",
                                icon: "warning"
                            });
                            $(obj).css("color", "#B3B3B3");
                            $(obj).attr("id", "like-none");
                        }
                    }
                },
                error: function () {
                    console.log("error : " + error);
                }
            });
        }
        
        
        function bookmarkPush(obj, restrNo) {
            const bookmarkId = $(obj).attr('id');
            const isBookmark = (bookmarkId == "bookmark-none") ? 0 : 1;

            $.ajax({
                url: "/restaurant/bookmarkPush",
                data: { restrNo: restrNo, isBookmark: isBookmark },
                type: "post",
                success: function (data) {
                    if (data == -10) {
                        Swal.fire({
                            title: "로그인 필요",
                            text: "로그인 후 이용해 주세요",
                            icon: "info"
                        });
                    } else if (data == -1) {
                        Swal.fire({
                            title: "데이터 처리 오류",
                            text: "잠시 후 다시 시도해주세요.",
                            icon: "warning"
                        });
                    } else {
                        if (isBookmark == 0) {
                            Swal.fire({
                                title: "북마크 완료",
                                text: "북마크를 누르셨습니다.",
                                icon: "success"
                            });
                            $(obj).css("color", "#FC7A1E");
                            $(obj).attr("id", "bookmark-yes");
                        } else {
                            Swal.fire({
                                title: "북마크 취소",
                                text: "북마크를 취소하셨습니다.",
                                icon: "warning"
                            });
                            $(obj).css("color", "#B3B3B3");
                            $(obj).attr("id", "bookmark-none");
                        }
                    }
                },
                error: function () {
                    console.log("error : " + error);
                }
            });
        }
                        
        function reviewLikePush(obj, reviewNo) {
        	const reviewId = $(obj).attr('id');
            const isReviewLike = (reviewId == "review-like-no") ? 0 : 1;

            $.ajax({
                url: "/restaurant/reviewLikePush",
                data: { reviewNo: reviewNo, isReviewLike: isReviewLike },
                type: "post",
                success: function (data) {
                    if (data == -10) {
                        Swal.fire({
                            title: "로그인 필요",
                            text: "로그인 후 이용해 주세요",
                            icon: "info"
                        });
                    } else if (data == -1) {
                        Swal.fire({
                            title: "데이터 처리 오류",
                            text: "잠시 후 다시 시도해주세요.",
                            icon: "warning"
                        });
                    } else {
                        if (isReviewLike == 0) {
                            Swal.fire({
                                title: "리뷰 좋아요 완료",
                                text: "리뷰 좋아요를 누르셨습니다.",
                                icon: "success"
                            });
                            $(obj).css("color", "#FC7A1E");
                            $(obj).attr("id", "review-like-yes");
                        } else {
                            Swal.fire({
                                title: "리뷰 좋아요 취소",
                                text: "리뷰 좋아요를 취소하셨습니다.",
                                icon: "warning"
                            });
                            $(obj).css("color", "#B3B3B3");
                            $(obj).attr("id", "review-like-no");
                        }
                      	//현재 좋아요 갯수 변경
						$(obj).next().text(data);
                    }
                },
                error: function () {
                    console.log("error : " + error);
                }
            });
        }

        //별 선택
        document.addEventListener("DOMContentLoaded", function () {
            const starRating = document.querySelector('.stars2 .star-rating');
            const reviewStarInput = document.getElementById('reviewStar');

            starRating.addEventListener('click', function (event) {
                if (event.target.classList.contains('material-icons')) {
                    const star = event.target;
                    const value = parseFloat(star.getAttribute('data-value'));


                    const rect = star.getBoundingClientRect();
                    const clickX = event.clientX;
                    const starWidth = rect.width;
                    const halfStar = rect.left + (starWidth / 2);


                    const isLeftClick = clickX < halfStar;

                    let newValue = isLeftClick ? value - 0.5 : value;
                    newValue = Math.max(0.5, newValue);

                    reviewStarInput.value = newValue;
                    updateStarRating(newValue);
                }
            });

            function updateStarRating(value) {
                const stars = starRating.querySelectorAll('.material-icons');
                stars.forEach(star => {
                    const starValue = parseFloat(star.getAttribute('data-value'));
                    const isHalf = starValue - 0.5 === parseFloat(value);
                    const isFull = starValue <= value;

                    star.classList.toggle('selected', isFull);
                    star.classList.toggle('half', isHalf && !isFull);
                });
            }
        });

        
        $(document).ready(function() {
            $(".star-on").css("width", "0px");
            const score = parseFloat($("#star-avg").text());
            const changeWidth = score * 50;
            $(".star-on").animate({"width": changeWidth + "px"}, 1000);
        });
        
        $(document).ready(function() {
        	graph();
        });
        
        function graph() {
            let nameList = [];
            let countList = [];

            $.ajax({
                url: "/restaurant/countTagList",
                type: "get",
                data: { restrNo: restrNo },
                success: function(data) {
                	if(data.length > 0) {                		
	                    for(let i = 0; i < data.length; i++) {
	                        nameList.push(data[i].reviewTagName);
	                        countList.push(data[i].reviewTagCount);
	                    }
                	} else {
                		nameList.push("데이터가 존재하지 않습니다.");
                        countList.push(1);
                	}

                    const ctx = document.getElementById('myChart');

                    new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: nameList,
                            datasets: [{
                                label: '키워드 개수',
                                data: countList,
                                borderWidth: 1
                            }]
                        }
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error: " + error);
                }
            });
        }
 
    </script>
</body>

</html>