<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛집 상세 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/font.css">
    <style>
        body, html {
            background-color: #F3F3F3;
            height: 100%;
        }
        .star-rating .material-icons {
            font-size: 50px;
            cursor: pointer;
            color: #FC7A1E;
        }
        .shop-img {
           width: 350px;
           height: 350px;
           border: 1px solid black;
           border-radius: 30px;
        }

    </style>
</head>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=zzl0s76r4r&submodules=geocoder"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<body>
    
    <th:block th:include="common/header"></th:block>

    
    <div class="restr-wrap">
        <div>
            <div class="shop-imgs">
                <div class="shop-img"></div>
                <div class="shop-img"></div>
                <div class="shop-likes">
                    <span class="material-icons">favorite</span>
                    <span class="material-icons">bookmark</span>
                </div>
            </div>
            <div>
                <h2 class="card-title" th:text="${r.restrName}"></h2>
            </div>
            <div>
                <div class="star-rating">
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                </div>
                <p>4.0 (10명의 평가)</p>
            </div>
            <div>
                <div>
                    <span class="material-icons">location_on</span><span th:text="${r.restrAddr1}"></span>
                    <span th:text="${r.restrAddr2}"></span>
                </div>
                <div>
                    <span class="material-icons">call</span>
                    <span th:text="${r.restrTel}"></span>
                </div>
            </div>
            <div class="menu-and-tag">
                <div class="menu">
                    <h2>메뉴</h2>
                    <ul>
                        <li>메뉴명 ------------ 80,000원</li>
                        <li>메뉴명 ------------ 80,000원</li>
                        <li>메뉴명 ------------ 80,000원</li>
                    </ul>
                </div>
                <div class="tag">
                    <h2>메뉴명</h2>
                    <div class="tags"></div>
                </div>
            </div>
            <div class="content">
                <h2>매장 소개</h2>
                <p>설명</p>
            </div>
        </div>

        <div class="map">
            <div id="map"></div>
        </div>

        <div class="review-wrap">

        </div>
        <div class="blog-wrap">

        </div>
    </div>

   <th:block th:include="common/footer"></th:block>

    <script>
        $(function() {
           initMap();
        });

        function initMap() {
           var map = new naver.maps.Map('map',{
              center : new naver.maps.LatLng(37.552758094502494, 126.98732600494576),
              zoom: 15
           });
        }
    </script>
</body>
</html>
