<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>맛집 등록</title>
	<link rel="stylesheet" href="/css/sujin.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
	<!--
	--정원이가 한 api인증
	<script type="text/javascript"
		src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=zzl0s76r4r&submodules=geocoder"></script>
-->
	<script type="text/javascript"
		src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=z03gy10mtv&submodules=geocoder"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<style>
		.round-box-child {
			border-radius: 5px;
			border: 1px solid var(--point1);
			background-color: #fff;
		}

		div.tag {
			margin: 4px;
		}

		div.tag span.material-symbols-outlined {
			cursor: pointer;
		}
	</style>
</head>

<body>
	<th:block th:include="common/header"></th:block>
	<main class="main restrFrm">
		<div class="round-box frm">
			<h2 class="page-title">맛집 등록</h2>
			<form action="/restaurant/restrWrite" method="post" enctype="multipart/form-data" id="restrFrm">
				<div class="info basic round-box shadow">
					<h3>1. 기본 정보</h3>
					<div class="input-content">
						<div class="input-list restrName">
							<label for="restrName">
								<span class="inputName">▪ 음식점 이름</span>
							</label>
							<div class="input-box">
								<input type="text" name="restrName" id="restrName" class="input-lg"
									placeholder="업체명을 입력하세요">
							</div>
						</div>
						<div class="input-list restrAddr">
							<span class="inputName">▪ 주소</span><button type="button"
								class="btn btn-point btn-sm round-box" id="addrSearch">검색</button>
							<div class="input-box">
								<input type="text" name="restrAddr1" id="restrAddr1" class="input-lg" readonly
									placeholder="주소를 입력하세요">
								<input type="text" name="restrAddr2" id="restrAddr2" class="input-lg"
									placeholder="상세 주소를 입력하세요">
								<input type="hidden" name="restrMapx" id="mapX">
								<input type="hidden" name="restrMapy" id="mapY">
							</div>
							<div id="map" style="width:90%; height:300px; margin: 0 auto;margin-top : 30px;"></div>
						</div>
						<div class="input-list restrTel">
							<label for="restrTel">
								<span class="inputName">▪ 전화번호</span>
							</label>
							<div class="input-box">
								<input type="text" name="restrTel" id="restrTel" class="input-lg"
									placeholder="업체 번호를 입력하세요 (02-0000-0000)">
							</div>
						</div>
						<div class="input-list restrContent">
							<label for="restrContent">
								<span class="inputName">▪ 설명</span>
							</label>
							<div class="input-box">
								<textarea name="restrContent" id="restrContent" class="input-lg"
									placeholder="간략한 설명을 입력하세요 (최대 100자)"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="info sub round-box shadow">
					<h3>2. 부가 정보</h3>
					<div class="input-content">
						<div class="input-list restrMenu">
							<span class="inputName">▪ 메뉴</span><button type="button"
								class="btn btn-point btn-sm round-box" onclick="insertTr();">항목 추가</button>
							<div class="tbl-box">
								<table class="tbl table">
									<thead>
										<tr>
											<th>메뉴 이름</th>
											<th>가격</th>
											<th>추가/삭제</th>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							</div>
						</div>
						<div class="input-list restrTag">
							<label for="restrTel">
								<span class="inputName">▪ 태그 추가</span>
							</label>
							<div class="input-content">
								<div class="input-box">
									<input type="text" name="restrTags" id="restrTag" class="input-reg"
										placeholder="추가할 태그를 입력하세요">
									<button type="button" id="insertTag" class="btn btn-point btn-reg">추가</button>
								</div>
								<div class="tag-box">

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="info photo round-box shadow">
					<h3>3. 사진 등록 (첫번째 사진이 썸네일로 들어갑니다.)</h3>
					<div class="input-content">
						<div class="img">
							<div class="img-box">
								<img src="" class="img-view hide">
							</div>
							<label for="imageFile1" class="btn btn-sm btn-mono">등록</label>
							<input type="file" id="imageFile1" name="imageFile1" accept=".jpg,.png,.jpeg"
								onchange="loadImg(this);" class="photo">
						</div>
						<div class="img">
							<div class="img-box">
								<img src="" class="img-view hide">
							</div>
							<label for="imageFile2" class="btn btn-sm btn-mono">등록</label>
							<input type="file" id="imageFile2" name="imageFile2" accept=".jpg,.png,.jpeg"
								onchange="loadImg(this);" class="photo">
							<!-- 이미지 사진 잘라서 넣든 맞춰서 넣든 기능 구현해야함 -->
						</div>
					</div>
				</div>
				<input type="submit" style="display:none;" id="submit-input">
				<div class="submit-btn">
					<button type="button" id="submit" class="btn btn-point btn-lg">등 록</button>
					<button type="button" id="cancel" class="btn btn-mono btn-lg">취 소</button>
				</div>
			</form>
		</div>



	</main>
	<script>
	//주소찾기
		$("#addrSearch").on("click", function () {
		    new daum.Postcode({
		        oncomplete: function (data) {
		            $("#restrAddr1").val(data.roadAddress);
		            $("#restrAddr2").focus();
		            searchAddressToCoordinate(data.roadAddress);
		        }
		    }).open();
		})
		//네이버 지도 띄워서 위치 표시, 클릭하면 주소 변경 가능하도록..
		const map = new naver.maps.Map("map", {
		    center: new naver.maps.LatLng(37.3595316, 127.1052133),//LatLng : 위도 경도를 다룸
		    zoom: 18, //배율 지정
		    zoomControl: true, //배율을 사용자가 직접 지정할 수 있도록 바를 띄워줌
		    zoomControlOptions: { //배율 지정 바 스타일 변경
		        position: naver.maps.Position.TOP_RIGHT,
		        style: naver.maps.ZoomControlStyle.SMALL
		    }
		});
	</script>
	<script src="/js/restr-js.js"></script>
	<script>
		//태그 추가
		$("#insertTag").on("click", function () {
		    const tagText = $("#restrTag").val();
		    if (tagText == "") {
		        alert("태그를 입력해주세요");
		        return;
		    }
		    const tagDiv = $("<div>");
		    tagDiv.addClass("tag");
		    const tagDivHtml = "<span class='tag-name'>" + tagText + "</span><span class='material-symbols-outlined' onclick='deleteTag(this);'>cancel</span>";
		    tagDiv.html(tagDivHtml);
		    $("div.tag-box").append(tagDiv);
		    $("#restrTag").val("");
		    //list에 넣는 작업 필요=>submit버튼 누르면
		})
	
		//메뉴 추가 버튼
		function completeTr(btn) {
	    	const tds = $(btn).parents("tr").children();
	    	let isCorrect = true;
	    	tds.each(function (index, item) {
	        	if (index < 2) {
	            	if ($(item).find("input").val() == "") {
	                	swal.fire({
	                    	title: "메뉴 추가 불가",
	                    	text: "메뉴를 모두 입력해주세요",
	                    	icon: "warning"
	                	});
	                	isCorrect = false;
	                	return;
	            	} else if (index == 1 && isNaN($(item).find("input").val())) {
	                	swal.fire({
	                    	title: "메뉴 추가 불가",
	                    	text: "가격은 숫자로만 입력해주세요",
	                    	icon: "warning"
	                	});
	            	}
	        	}
	    	});
	    	if (isCorrect) {
	        	tds.each(function (index, item) {
	            	if (index == 2) {
	                	$(item).html("<button type='button' class='btn btn-sm btn-mono' onclick='updateTr(this);'>수정</button>");
	            	}
	            	else if (index == 0) {
		                const text = $(item).find("input").val();
		                $(item).text(text);
		                $(item).addClass("menuName");
		            } else {
		                const text = "<span class='menuPrice'>" + $(item).find("input").val() + "</span>" + "<span> 원</span>";
		                $(item).html(text);
		                $(item).addClass("menuPrice");
		            }
		        });
		
		    }
		};
	
	
	$("#submit").on("click", function () {
	    //console.log($("form#restrFrm"));
	    //시간 되면 중복체크도 신경써주기
	    //메뉴 가격 숫자 아니면 에러표시 해주기
	    const menuNames = $("table.table").find("td.menuName");
	    const menuPrices = $("table.table").find("span.menuPrice");
	    const tags = $(".tag-name");
	    if ($("input#restrName").val() == "") {
	        swal.fire({
	            title: "등록 불가",
	            text: "업체명을 입력하지 않으셨습니다",
	            icon: "error"
	        });
	        return;
	    }
	    if ($("input#restrAddr1").val() == "" || $("input#restrAddr2").val() == "") {
	        swal.fire({
	            title: "등록 불가",
	            text: "주소를 입력하지 않으셨습니다",
	            icon: "error"
	        });
	        return;
	    }
	    if ($("input#restrTel").val() == "") {
	        swal.fire({
	            title: "등록 불가",
	            text: "전화번호를 입력하지 않으셨습니다",
	            icon: "error"
	        });
	        return;
	    }

	    if ($("textarea#restrContent").val() == "") {
	        swal.fire({
	            title: "등록 불가",
	            text: "설명을 입력하지 않으셨습니다",
	            icon: "error"
	        });
	        return;
	    }
	    if (menuNames.length == 0) {
	        swal.fire({
	            title: "등록 불가",
	            text: "메뉴를 입력하지 않으셨습니다",
	            icon: "error"
	        });
	        return;
	    }
	    menuNames.each(function (index, item) {
	        const input = $("<input>");
	        input.attr("name", "menuName");
	        input.attr("type", "hidden");
	        input.val($(item).text());
	        $("form#restrFrm").append(input);
	    });
	    if (menuPrices.length == 0) {
	        swal.fire({
	            title: "등록 불가",
	            text: "메뉴를 입력하지 않으셨습니다",
	            icon: "error"
	        });
	        return;
	    }
	    menuPrices.each(function (index, item) {
	        const input = $("<input>");
	        input.attr("name", "menuPrice");
	        input.attr("type", "hidden");
	        input.val($(item).text());
	        $("form#restrFrm").append(input);
	    });
	    if (tags.length == 0) {
	        swal.fire({
	            title: "등록 불가",
	            text: "태그를 입력하지 않으셨습니다",
	            icon: "error"
	        });
	        return;
	    }
	    tags.each(function (index, item) {
	        const input = $("<input>");
	        input.attr("name", "tagName");
	        input.attr("type", "hidden");
	        input.val($(item).text());
	        $("form#restrFrm").append(input);
	    });
	    const thumnail = $("input#imageFile1").prev().prev().children("img");
	    if (thumnail.attr("src") == "") {
	        swal.fire({
	            title: "등록 불가",
	            text: "썸네일 사진을 입력하지 않으셨습니다",
	            icon: "error"
	        });
	        return;
	    }
	    const image = $("input#imageFile2").prev().prev().children("img");
	    if (image.attr("src") == "") {
	        swal.fire({
	            title: "등록 불가",
	            text: "사진 하나를 입력하지 않으셨습니다",
	            icon: "error"
	        });
	        return;
	    }
	    $("#submit-input").click();
	});	
	
	
		$("#cancel").on("click", function () {
			swal.fire({
				title : "맛집 등록 취소",
				text : "정말 취소 하시겠습니까?",
				icon : "question",
				iconColor : "var(--point1)",
				color : "var(--pointFont)",
				showCancelButton : true,
				cancelButtonText : "돌아가기",
				confirmButtonText : "등록 취소",
				confirmButtonColor : "var(--point1)",
				cancelButtonColor : "var(--monocolor)"
				}).then(result=>{
					if(result.isConfirmed){
					location.href="/restaurant/restrList";
					// /을 쓰면 처음부터 읽음 , /를 안쓰면 현재 들어와있는 /restaurant내에서 찾음
					}
				});
		});
	</script>

	<th:block th:include="common/footer"></th:block>
</body>

</html>