<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>맛집 목록</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/font.css"/>
    <link rel="stylesheet" href="/css/restrList.css"/>
</head>
<body>
    <th:block th:include="common/header"></th:block>
    <div class="restr-list-wrap">    
		<div class="search-bar">
		    <div class="search-wrap">
		        <input type="text" name="searchKeyword" id="searchKeyword" placeholder="가게명, 음식명, 태그 등으로 검색">
		        <button type="submit" id="submit">검색하기</button>
		    </div>		    
		</div>
		<div class="restr-type-div">
			<select name="restr-type">
				<option value="default" selected>최신순</option>
				<option value="star">별점순</option>
			</select>
		</div>
		
	    <div class="restr-list">
		<!-- 
	        <div class="restr-item">
	            <img>
	            <div class="restr-info">
	                <div class="restr-name">가게명</div>
	                <div class="restr-rating">
	                    <span class="material-icons">grade</span>
	                    4.0(100)
	                </div>
	                <div class="restr-details">카페, 강남구</div>
	            </div>
	        </div>
	         -->
	    </div>
	    <button class="more-btn" id="more-btn">맛집 더보기</button>
	    <button class="more-btn" id="search-more-btn" style="display: none;">맛집 더보기</button>
    </div>  

    <script th:inline="javascript">
	    const restrTotalCount = [[${restrTotalCount}]]; 
		let currentCount = 0;
		let start = 1;
		let selectedValue = "default"
		const searchKeywordInput = document.getElementById('searchKeyword');
		let searchKeyword = "";
		const amount = 5;		//더보기 한 번 클릭할 때마다 추가로 가져올 게시물 수
		
		let submitCurrentCount = 0;
		let submitStart = 1;
    
		$("#more-btn").on("click", function(){
			$.ajax({
				url : "/restaurant/more",
				type : "get",
				data : {start : start , amount : amount, selectedValue : selectedValue},
				success : function(data) {
					for(let i=0; i<data.length; i++) {
						const r = data[i];
						/*
						<div class="restr-item">
				            <img>
				            <div class="restr-info">
				                <div class="restr-name">가게명</div>
				                <div class="restr-rating">
				                    <span class="material-icons">grade</span>
				                    <span>4.0(100)</span>
				                </div>
				                <div class="restr-details">카페, 강남구</div>
				            </div>
				        </div>
						*/
						
						const restrA = $("<a>");
						restrA.addClass("restr-item");
						const img = $("<img>");
						img.attr("src", "/yomi/"+r.restrImg1);
						const restrInfoDiv = $("<div>");
						restrInfoDiv.addClass("restr-info");
						
						const restrNameDiv = $("<a>");
						restrNameDiv.addClass("restr-name");
						restrNameDiv.text(r.restrName);
						restrA.attr("href","/restaurant/restrView?restrNo="+r.restrNo);
						const restrRestrRatingDiv = $("<div>");
						restrRestrRatingDiv.addClass("restr-rating");
						const starSpan = $("<span>");
						starSpan.addClass("material-icons");
						starSpan.text("grade");
						const gradeSpan = $("<span>").addClass("grade");
						if(r.star != null) {						
							gradeSpan.text(r.star);
						} else {
							gradeSpan.text("(평가중)");
						}
						
						const restrDetailsDiv = $("<div>");
						restrDetailsDiv.addClass("restr-details");
						restrDetailsDiv.text(r.restrAddr1 + " " + r.restrAddr2);
						
						restrRestrRatingDiv.append(starSpan).append(gradeSpan);
						restrInfoDiv.append(restrNameDiv).append(restrRestrRatingDiv).append(restrDetailsDiv);
						restrA.append(img).append(restrInfoDiv);
						
						$(".restr-list").append(restrA);					
					}

					start = start + amount;
					currentCount = currentCount + data.length;

					if(currentCount == restrTotalCount) {
						$("#more-btn").remove();	
					}
				},
				error : function() {
					console.log("error");
				}
			});
		}); 
		$("#more-btn").click();
			
		
		$(".restr-type-div select[name='restr-type']").on("change", function() {
		    selectedValue = $(this).val();
		    currentCount = 0;
		    start = 1;
		    submitCurrentCount = 0;
			submitStart = 1;
		    $(".restr-item").remove();
		    $(".restr-not").remove();
		    
		    $("#more-btn").show();
		    $("#search-more-btn").hide();

		    searchKeyword = searchKeywordInput.value;

		    if (searchKeyword == null) {
		        $("#more-btn").show();
		        $("#more-btn").click();
		    } else {
		    	$("#search-more-btn").show();
		        $("#submit").click();
		    }
		});
		
		
		$("#search-more-btn").on("click", function() {
			submitSearchResult();
	    });
		
		$("#searchKeyword").on("keydown", function(event) {
		    if (event.key === "Enter") {
		        $("#submit").click();
		    }
		});
		
		$("#submit").on("click", function() {
	        searchKeyword = searchKeywordInput.value;
	        submitCurrentCount = 0;
			submitStart = 1;
			
			$("#more-btn").remove();
	        $(".restr-item").remove();
	        $(".restr-not").remove();

	        submitSearchResult();
	    });
		
		function submitSearchResult() {
		    $("#search-more-btn").show();

		    $.ajax({
		        url : "/restaurant/restrSearch",
		        type : "get",
		        data : {
		            submitStart : submitStart,
		            amount : amount,
		            searchKeyword : searchKeyword,
		            selectedValue : selectedValue
		        },
		        success : function(data) {
		            let submitRestrTotalCount = data.submitRestrTotalCount;

		            if (data.restaurants.length === 0) {
		                $(".restr-type-div").css("display", "none");
		                const notH3 = $("<h3>").text(searchKeyword + "에 대한 맛집이 존재하지 않습니다.");
		                const notDiv = $("<div>").addClass("restr-not").append(notH3);
		                $(".restr-list").append(notDiv);
		                $("#search-more-btn").hide();
		            } else {
		                $(".restr-type-div").css("display", "block");

		                for (let i = 0; i < data.restaurants.length; i++) {
		                    const r = data.restaurants[i];
		                    const restrA = $("<a>").addClass("restr-item");
		                    const img = $("<img>").attr("src", "/yomi/" + r.restrImg1);
		                    const restrInfoDiv = $("<div>").addClass("restr-info");

		                    const restrNameDiv = $("<a>").addClass("restr-name").text(r.restrName);
		                    restrA.attr("href", "/restaurant/restrView?restrNo=" + r.restrNo);
		                    const restrRestrRatingDiv = $("<div>").addClass("restr-rating");
		                    const starSpan = $("<span>").addClass("material-icons").text("grade");
		                    const gradeSpan = $("<span>").addClass("grade");

		                    if (r.star != null) {
		                        gradeSpan.text(r.star);
		                    } else {
		                        gradeSpan.text("평가중");
		                    }

		                    const restrDetailsDiv = $("<div>").addClass("restr-details").text(r.restrAddr1 + " " + r.restrAddr2);

		                    restrRestrRatingDiv.append(starSpan).append(gradeSpan);
		                    restrInfoDiv.append(restrNameDiv).append(restrRestrRatingDiv).append(restrDetailsDiv);
		                    restrA.append(img).append(restrInfoDiv);

		                    $(".restr-list").append(restrA);
		                }

		                submitStart += amount;
		                submitCurrentCount += data.restaurants.length;

		                if (submitCurrentCount < submitRestrTotalCount) {
		                    $("#search-more-btn").show();
		                } else {
		                    $("#search-more-btn").hide();
		                }
		            }
		        },
		        error: function() {
		            console.log("error");
		        }
		    });
		}


	</script>

    <th:block th:include="common/footer"></th:block>
    
</body>
</html>
