:root {
    --point1: #F24C00;
    --point2: #FC7A1E;
    --sub: #F7B788;
    --bgcolor: #F3F3F3;
    --color1: #EBEBEB;
    --color2: #D9D9D9;
    --pointFont: #010E47;
    --mainFont: #5E6276;
    --monocolor: #FFF8F5;
    --monocolor2: #EDE4E1;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body>* {
    color: var(--mainfont);
    font-family: g_r;
}

header {
    background-color: var(--maincolor);
}

header a {
    text-decoration: none;
    color: var(--pointfont);
}

.header-top {
    display: flex;
}

.header-top>div {
    height: 50px;
    background-color: #fff;
}

.header-top>.logo {
    width: 20%;
    color: var(--point1);
    text-align: center;
}

.header-top>.logo>a {
    line-height: 50px;
    font-size: 24px;
}

.header-top>.search {
    width: 60%;
    padding: 5px 0;
    margin: 0 200px;
    min-width: 300px;
}

.search>form {
    display: flex;
    justify-content: center;
}

.search input {
    border: none;
    border-bottom: 2px solid var(--point1);
    border-radius: 0;
    outline: none;
    display: inline-block;
    min-width: 330px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.search .none-btn {
    position: relative;
    border: none;
    background-color: transparent;
}

.search span {
    position: absolute;
    top: 10px;
    right: 13px;
    color: var(--point1);
    font-weight: bold;
}

.header-top>.text-end {
    width: 20%;
    line-height: 50px;
    font-size: 15px;
    padding-right: 50px;
    min-width: 200px;
}

.text-end>a {
    padding: 0 10px;
}

header .header-top {
    background-color: #fff;
}

header nav {}


nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav>.navi {
    display: flex;
    background-color: var(--point1);
    min-width: 450px;
}

nav>ul>li {
    width: 20%;
    text-align: center;
    min-width: 110px;
}

nav>ul>li>a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: var(--monocolor);
}

nav>ul>li:hover>a {
    font-size: 1.3em;
    font-weight: 500;
}

nav>ul>.nav-bar>ul {
    display: none;
}

nav>ul>.nav-bar:hover>ul {
    display: block;
}

nav>.navi>li:last-child {
    position: relative;
}

nav>.navi>li:last-child>.nav-sub {
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border: 1px solid var(--point1);
    border-top: none;
}

.nav-sub>li>a {
    display: inline-block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: var(--monocolor);
}

.nav-sub>li:last-child>a {
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.nav-sub>li:hover>a {
    font-size: 1.05em;
    font-weight: 500;
}

.nav-sub>li:last-child>a {
    border-top: 1px solid var(--point1);
}

/* λ©”μΈ */
main {
    flex: 1;
}

/* ν‘Έν„° */
.footer {
    height: 100px;
    background-color: var(--monocolor);
    margin-bottom: 0;
}