:root {
    --point1: #F24C00;
    --point2: #FC7A1E;
    --sub: #F7B788;
    --bgcolor: #F3F3F3;
    --color1: #EBEBEB;
    --color2: #D9D9D9;
    --pointFont: #010E47;
    --mainFont: #5E6276;
    --monocolor: #FFF8F5;
    --monocolor2: #EDE4E1;
}

html,
body {
    background-color: #F3F3F3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body>* {
    color: var(--mainFont);
    font-family: g_r;
}

header.header {
    padding-top: 100px;
    min-width: 1240px;
    z-index: 999;
    width: 100%;
}

header>div.header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1240px;
}

header a {
    text-decoration: none;
    color: var(--pointfont);
}

.header-top {
    display: flex;
    background-color: #fff;
}

.header-top>div {
    height: 50px;
}

.header-top>.logo {
    width: 20%;
    color: var(--point1);
    text-align: center;
}

.header-top>.logo>a {
    line-height: 50px;
    font-size: 24px;
}

.header-top>.search {
    width: 60%;
    padding: 5px 0;
    margin: 0 200px;
    min-width: 300px;
}

header .search>form {
    display: flex;
    justify-content: center;
}

header .search input {
    border: none;
    border-bottom: 2px solid var(--point1);
    border-radius: 0;
    outline: none;
    display: inline-block;
    min-width: 330px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

header .search .none-btn {
    position: relative;
    border: none;
    background-color: transparent;
}

header .search span {
    position: absolute;
    top: 10px;
    right: 13px;
    color: var(--point1);
    font-weight: bold;
}

header .header-top>.text-end {
    width: 20%;
    line-height: 50px;
    font-size: 15px;
    padding-right: 50px;
    min-width: 200px;
}

header .text-end>a {
    padding: 0 10px;
}


header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav>.navi {
    display: flex;
    background-color: var(--point1);
    min-width: 450px;
}

header nav>ul>li {
    width: 20%;
    text-align: center;
    min-width: 110px;
    padding-top: 0;
    padding-bottom: 0;
}

header nav>ul>li>a {
    display: inline-block;
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
    font-size: 20px;
    color: var(--monocolor);
}

header nav>ul>li:hover>a {
    color: #fff;
    font-weight: bold;
}

header nav>ul>.nav-bar>ul {
    display: none;
}

header nav>ul>.nav-bar:hover>ul {
    display: block;
}

header nav>.navi>li:last-child {
    position: relative;
}

header nav>.navi>li:last-child>.nav-sub {
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

header .nav-sub>li>a {
    display: inline-block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: var(--point1);
    color: var(--monocolor);
}

header .nav-sub>li:last-child>a {
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

header .nav-sub>li:hover>a {
    color: #fff;
    font-weight: 500;
}

header .nav-sub>li:last-child>a {
    border-top: 1px solid var(--point1);
}

/* 메인 */
.main {
    flex: 1;
    background-color: var(--bgcolor);
}

main.main .round-box {
    border-radius: 3%;
}

main.main h2.page-title {
    text-align: center;
    margin: 20px 0;
    font-family: g_black;
    color: var(--pointFont);
}

main.main .btn-sub {
    background-color: var(--sub);
    color: var(--mainFont);
}

main.main .btn-point {
    background-color: var(--point1);
    color: var(--monocolor2);
}

main.main .btn-mono {
    background-color: var(--monocolor2);
    color: var(--mainFont);
}

main.main button.none-btn {
    position: relative;
    border: none;
    background-color: transparent;
}

/* 푸터 */
footer.footer {
    height: 100px;
    min-height: 100px;
    background-color: var(--monocolor);
    margin-bottom: 0;
}

/* 신고 모달 */
div.modal-div {
    background-color: #fff;
}

div.modal-div>.modal-header {
    height: calc(30px + 32px);
    position: relative;
    border-bottom: none;
}

div.modal-div>.modal-header>h1 {
    color: var(--pointFont);
    position: absolute;
    top: 16px;
    left: calc(250px - 40px);
    font-family: g_b;
    line-height: 30px;
}

div.modal-div>.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

div.modal-div>.modal-body div.respondent-info {
    width: 95%;
    border-top: 1px solid var(--pointFont);
    border-bottom: 1px solid var(--pointFont);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px 0;
    padding-left: 30px;
    gap: 25px;
}

div.modal-div>.modal-body div.respondent-info .info-name {
    display: inline-block;
    width: 13%;
    font-family: g_b;
    color: var(--pointFont);
}

div.modal-div>.modal-body div.respondent-info .info-dot {
    font-family: g_b;
    color: var(--pointFont);
    margin-right: 10px;
}

div.modal-div>.modal-body div.input-box {
    padding: 15px 30px;
}

div.modal-div>.modal-body div.info-content {
    padding: 10px;
    margin-top: 5px;
}

div.modal-div>.modal-body .info-name {
    font-family: g_b;
    color: var(--pointFont);
}

div.modal-div>.modal-body .info-content>.input>input[type=text] {
    outline: none;
    border: 1px solid var(--mainFont);
    height: 20px;
    font-size: 15px;
    color: var(--mainFont);
    display: none;
}

div.modal-div>.modal-body .info-content>.input>input#reportType6:checked~input[type=text] {
    display: inline-block;
}


div.modal-div>.modal-body .info-content>textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 5px 10px;
}

div.modal-div>.modal-footer {
    border: none;
    display: flex;
    justify-content: center;
    padding-top: 0;
    gap: 10px;
}

div.modal-div>.modal-footer>.btn {
    width: 40%;
    height: 45px;
    font-family: g_b;
    font-size: 20px;
}

div.modal-div>.modal-body input[type=submit] {
    display: none;
}

.btn-point-modal {
    background-color: var(--point1);
    color: var(--monocolor2);
}

.btn-mono-modal {
    background-color: var(--monocolor2);
    color: var(--mainFont);
}


/* 메인 페이지 */
main.index .best-restr div.carousel-inner {
    width: 100%;
    min-width: 1420px;
    background-image: url(/image/main\ 페이지용.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

main.index div.carousel-inner>div.bg-fade {
    width: 100%;
    height: 350px;
    padding: 10px;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

main.index div.carousel-inner div.active-box {
    width: 90%;
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

main.index div.carousel-inner div.restr-box {
    width: 24%;
    min-width: 270px;
    max-width: 300px;
    background-color: rgba(255, 248, 245, 0.8);
    padding: 5px 10px;
    padding-bottom: 0;
}

main.index div.carousel-inner div.restr-box>.img-box {
    height: 250px;
    display: flex;
    align-items: center;
}

main.index div.carousel-inner div.restr-box>.img-box>img {
    width: 100%;
    object-position: center center;
}

main.index div.carousel-inner div.restr-box>div.restr-name {
    height: 75px;
}

main.index div.carousel-inner div.restr-box>div.restr-name>span {
    font-family: g_b;
    color: var(--pointFont);
    line-height: 75px;
}

main.index .best-restr button.control-btn {
    width: 5%;
}

main.index section.main-content {
    display: flex;
    justify-content: space-between;
    min-width: 1420px;
}

main.index div.content {
    width: 85%;
    min-width: 1210px;
    padding: 30px 0;
    padding-left: calc((100% - 1000px) * 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

main.index div.content>div.ad {
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/*광고 api 있으면 고칠듯...? 일단 어떤 느낌인지만 보려고..*/
main.index div.content>div.ad>img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

main.index div.content>div.best-review {
    width: 1000px;
    background-color: #fff;
    border-top: 3px solid var(--point1);
    padding: 10px 20px;
}

main.index div.content>div.best-review>div.best-review-title {
    display: flex;
    justify-content: space-between;
}

main.index div.content>div.best-review>div.best-review-title>span:first-child {
    font-family: g_b;
    color: var(--pointFont);
    font-size: 1.1em;
}

main.index div.content>div.best-review>div.best-review-title a {
    text-decoration: none;
    color: var(--mainFont);
}

main.index div.content>div.best-review>div.best-review-title a:hover {
    text-decoration: underline;
    color: var(--pointFont);
}

main.index div.content>div.best-review div.content-page {
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

main.index div.content>div.best-review div.content-list {
    float: left;
    width: 50%;
    padding: 10px;
    overflow: hidden;
}

main.index div.content>div.best-review div.content-list>div {
    float: left;
    height: 195px;
}

main.index div.content>div.best-review div.content-list>div.restr-info {
    width: 35%;
    padding: 5px;
}

main.index div.best-review div.img-box {
    height: 140px;
    display: flex;
    align-items: center;
}

main.index div.best-review div.img-box>img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

main.index div.best-review div.span-box {
    height: 55px;
    line-height: 55px;
    color: var(--pointFont);
    font-family: g_b;
}

main.index div.content>div.best-review div.content-list>div.reviewer-info {
    width: 65%;
    padding-top: 5px;
    padding-left: 5px;
    color: var(--pointFont);
}

main.index div.content>div.best-review div.content-list div.review-content {
    height: 135px;
    width: 100%;
    background-color: var(--monocolor);
    color: var(--mainFont);
    padding: 5px;
}

main.index div.content>div.best-review>div.best-review-btn {
    overflow: hidden;
}

main.index div.content>div.best-review>div.best-review-btn>div {
    float: right;
}

main.index div.content>div.best-review>div.best-review-btn button {
    border: 1px solid var(--point1);
    color: var(--point1);
    height: 30px;
    padding: 0 2px;
    cursor: pointer;
}

main.index div.content>div.best-review>div.best-review-btn button>span {
    line-height: 30px;
}

main.index aside.recent {
    width: 15%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    padding: 0 25px;
}

main.index aside.recent>.recent-wrap {
    width: 150px;
    height: 600px;
    position: sticky;
    top: 150px;
    left: calc((100% - 150px) * 0.5);
    margin-top: 20px;
}

main.index aside.recent>.recent-wrap>div.recent-title {
    text-align: center;
    margin: 5px 0;
}

main.index aside.recent>.recent-wrap>div.recent-title>span {
    font-family: g_b;
    color: var(--pointFont);
}

main.index aside.recent>.recent-wrap>div.recent-box {
    background-color: #fff;
    padding: 15px;
    border: 1px solid var(--point1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

main.index aside.recent>.recent-wrap div.img-box {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
}

main.index aside.recent>.recent-wrap div.img-box>img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

main.index aside.recent>.recent-wrap div.recent-name {
    height: 24px;
    margin-top: 5px;
    text-align: center;
}

main.index aside.recent>.recent-wrap div.recent-name>span {
    line-height: 24px;
    color: var(--pointFont);
}

/* 신고 현황 */
main.report-list {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px 0;
}

main.report-list>section {
    margin: 0 auto;
    background-color: #fff;
    width: 900px;
    background-color: #fff;
    padding: 30px 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.report-list h2.page-title {
    font-size: 40px;
    margin-top: 50px;
}

main.report-list div.tbl {
    flex-grow: 1;
}

main.report-list table.report-list {
    margin: 0 auto;
    width: 850px;
}

main.report-list table.report-list>thead>tr {
    text-align: center;
    background-color: var(--sub);
    border-top: 1px solid var(--point1);
    color: var(--pointFont);
    height: 40px;
}

main.report-list table.report-list>tbody>tr {
    text-align: center;
    border-top: 1px solid var(--point1);
    height: 60px;
}

main.report-list table.report-list td.report-content,
main.report-list table.report-list td.report-board-content {
    font-size: 0.9em;
}

main.report-list table.report-list div.btn-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

main.report-list section>div.btn-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main.report-list section .btn-sm {
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    padding: 0 7px;
}

main.report-list section>div.btn-box>button.btn-lg {
    height: 60px;
    font-size: 24px;
    font-family: g_b;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 60px;
}

main.report-list div.dropdown>button {
    font-weight: bold;
    width: 100%;
    position: relative;
}

main.report-list div.dropdown>button.dropdown-custom::after {
    position: absolute;
    right: 10px;
    top: 14px;
}

main.report-list div.search {
    align-self: flex-end;
    margin-right: 17px;
    margin-bottom: 10px;
}

main.report-list div.search input {
    outline: none;
    border: 1px solid var(--point1);
    padding: 2px 5px;
    font-size: 15px;
    color: var(--mainFont);
}

main.report-list div.search button {
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
}

/*
글씨 색깔 관련 클래스
*/
.point {
    color: var(--point1);
}

.pointFont {
    color: var(--pointFont);
}

/*sw2용*/

.btn.btn-sub-swal {
    background-color: var(--sub);
    color: var(--mainFont);
    border: 1px solid transparent;
    margin: 0 5px;
}

.btn.btn-sub-swal:hover {
    background-color: #fff;
    color: var(--sub);
    border-color: var(--sub);
    font-weight: 500;
}

.btn.btn-point-swal {
    background-color: var(--point1);
    color: var(--monocolor2);
    border: 1px solid transparent;
    margin: 0 5px;
}

.btn.btn-point-swal:hover {
    background-color: #fff;
    color: var(--point1);
    font-weight: 500;
    border-color: var(--point1);
}

.btn.btn-mono-swal {
    background-color: var(--monocolor2);
    color: var(--mainFont);
    border: 1px solid transparent;
    margin: 0 5px;
}

.btn.btn-mono-swal:hover {
    background-color: #fff;
    color: var(--mainFont);
    border-color: var(--mainFont);
    font-weight: 500;
}