.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f1ea;
}

.auth-box {
    background-color: #fff; 
    padding: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 500px;
    height: 200px;
    text-align: left;  
    
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group label {
    margin-right: 10px; 
    color: #e76d16; 
    font-size: 1.1em; 
}

.input-group input {
    flex-grow: 1; 
    padding: 8px;
    border: 1px solid #d2b48c; 
    border-radius: 8px; 
    margin-right: 10px; 
    width: px;
    
}

button {
    padding: 8px 15px;
    background-color: #e97b0e; 
    border: none;
    border-radius: 8px; 
    color: white;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #ec550f;
}

.line{
    border-bottom-style: ridge;
    
}
.pad{
    padding-top: 20px;
}
