:root {
    --point1: #F24C00;
    --point2: #FC7A1E;
    --sub: #F7B788;
    --bgcolor: #F3F3F3;
    --color1: #EBEBEB;
    --color2: #D9D9D9;
    --pointFont: #010E47;
    --mainFont: #5E6276;
    --monocolor: #FFF8F5;
    --monocolor2: #EDE4E1;
}

/* 맛짐 등록, 수정용 main*/
main.restrFrm {
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px 0;
    min-width: 1000px;
}

main.restrFrm div.frm {
    width: 900px;
    background-color: #fff;
    padding: 50px 50px;
    padding-top: 0px;
}

main.restrFrm h2.page-title {
    margin: 50px 0;
    font-size: 40px;
}

main.restrFrm div.frm div.info {
    background-color: var(--bgcolor);
    padding: 20px 40px;
}

main.restrFrm span.inputName,
main.restrFrm h3 {
    color: var(--pointFont);
    font-family: g_b;
}

main.restrFrm h3 {
    margin-top: 10px;
}

main.restrFrm span.inputName {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

main.restrFrm div.input-content {
    padding: 0 10px;
}

main.restrFrm div.input-list {
    margin: 30px 0;
}

main.restrFrm div.input-list>div.input-box {
    width: 100%;
}


main.restrFrm div.input-box>.input-lg {
    display: block;
    width: 90%;
    height: 40px;
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 40px;
}

main.restrFrm div.input-box>.input-reg {
    width: 50%;
    height: 40px;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 40px;

}

main.restrFrm div.input-box>textarea.input-lg {
    height: 120px;
    resize: none;
    outline: none;
    border-color: transparent;
    border-radius: 5%;
}

main.restrFrm div.restrAddr input#restrAddr1 {
    margin-bottom: 10px;
}

main.restrFrm .btn-sm {
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    padding: 0 7px;
}

main.restrFrm .btn-reg {
    height: 40px;
    font-size: 17px;
    font-family: g_b;
    line-height: 40px;
    padding: 0 15px;
}

main.restrFrm span.inputName+button.btn {
    margin-left: 10px;
}

main.restrFrm div.info {
    margin-bottom: 50px;
}


main.restrFrm .tbl {
    border-top: 1px solid var(--point1);
    border-bottom: 1px solid var(--point1);
    width: 90%;
    margin: 0 auto;
    table-layout: fixed;
}

main.restrFrm .tbl>* {
    text-align: center;
    height: 30px;
    line-height: 30px;
}


main.restrFrm table.table>thead>tr>th {
    background-color: var(--sub);
    color: var(--pointFont);
}

main.restrFrm table.table>tbody>tr>td {
    color: var(--mainFont);
}

main.restrFrm .tbl>tbody>tr {
    border-top: 1px solid var(--point1);
}


main.restrFrm .tbl div.btn-box>button {
    margin: 2px 0;
}

main.restrFrm .tbl .input-box {
    padding: 13px 0;
}

main.restrFrm .tbl input.input-td {
    width: 60%;
    height: 30px;
    text-align: center;
    border: 1px solid var(--point1);
    border-radius: 5%;
    outline: none;
}

main.restrFrm .tbl input.input-td:focus {
    border: 2px solid var(--point1);
}

main.restrFrm .tbl th:last-child {
    width: 30%;
}

main.restrFrm .tbl td span {
    margin-left: 5px;
}

main.restrFrm div.restrTag input {
    margin-left: 23px;

}

main.restrFrm input {
    border-radius: 5%;
    border-color: transparent;
    outline: none;
}

main.restrFrm div.tag-box {
    margin-top: 10px;
    padding: 0 23px;
}

main.restrFrm div.tag-box>div.tag {
    background-color: var(--sub);
    border-radius: 10%;
    display: inline-block;
    height: 25px;
    padding-left: 15px;
    padding-right: 30px;
    position: relative;
    margin-right: 10px;
}

main.restrFrm div.tag-box>div.tag>span.tag-name {
    line-height: 25px;
    font-size: 15px;
}



main.restrFrm div.tag-box>div.tag>.material-symbols-outlined {
    font-size: 20px;
    color: var(--mainFont);
    position: absolute;
    right: 5px;
    top: 2px;
}

main.restrFrm input#restrTag {
    margin-right: 5px;
}

main.restrFrm div.photo>.input-content {
    display: flex;
    justify-content: center;
}

main.restrFrm input.photo {
    display: none;
}

main.restrFrm div.img {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

main.restrFrm div.img-box {
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-color: var(--color2);
    border: 2px solid rgba(0, 0, 0, 0.2);
}

main.restrFrm img.img-view {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

main.restrFrm img.hide {
    display: none;
}

main.restrFrm div.submit-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

main.restrFrm .btn-lg {
    width: 40%;
    height: 60px;
    font-size: 24px;
    font-family: g_b;
}

/* 에러 페이지 */
main.error {
    padding: 50px 0;
}

main.error>section {
    margin: 0 auto;
    width: 1000px;
    background-color: #fff;
    padding: 30px;
}

main.error h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    font-family: g_black;
    color: var(--point1)
}

main.error div.error-name {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--point1);
}

main.error div.error-content {
    padding: 15px;
}

main.error div.error-content>.error-text {
    padding: 0 10px;
}

main.error div.error-content>.error-text>p {
    margin-bottom: 10px;
}

main.error div.error-content>.img {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 50px
}

main.error div.error-content>.img>img {
    width: 500px;
}

main.error div.error-content>.img>span {
    font-family: g_b;
    color: var(--point1);
}