<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>YOMI</title>
</head>

<body>
	<th:block th:include="common/header"></th:block>
	<main class="main index">
		<section class="best-restr">
			<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="bg-fade">
						<div class="carousel-item active">
							<div class="active-box">
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="active-box">
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="active-box">
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
								<div class="restr-box round-box">
									<div class="img-box">
										<img src="/image/main 페이지용.jpg" class="restr-img">
									</div>
									<div class="restr-name">
										<span>상호명</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev control-btn" type="button"
					data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next control-btn" type="button"
					data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</section>
		<div class="content">
			<div class="ad">

			</div>
			<div class="best-review">
				<div class="best-review-title">
					<span>베스트 리뷰</span>
					<span><a href="#">리뷰 더보기</a></span>
				</div>
				<div class="best-review-content">
					<div class="content-page">
						<div class="content-list">
							<div class="restr-info">
								<div class="img-box">
									<img src="/image/error 페이지용.jpg">
								</div>
								<div class="span-box">
									<span>상호명</span>
								</div>
							</div>
							<div class="reviewer-info">
								<div class="reviewer-id">
									<span>사용자ID</span>
								</div>
								<div class="star">
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons-outlined">
										grade
									</span>
									<span class="material-icons-outlined">
										grade
									</span>
								</div>
								<div class="review-content round-box">
									<p>리뷰 내용...</p>
								</div>
							</div>
						</div>
						<div class="content-list">
							<div class="restr-info">
								<div class="img-box">
									<img src="/image/error 페이지용.jpg">
								</div>
								<div class="span-box">
									<span>상호명</span>
								</div>
							</div>
							<div class="reviewer-info">
								<div class="reviewer-id">
									<span>사용자ID</span>
								</div>
								<div class="star">
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons-outlined">
										grade
									</span>
									<span class="material-icons-outlined">
										grade
									</span>
								</div>
								<div class="review-content round-box">
									<p>리뷰 내용...</p>
								</div>
							</div>
						</div>
						<div class="content-list">
							<div class="restr-info">
								<div class="img-box">
									<img src="/image/error 페이지용.jpg">
								</div>
								<div class="span-box">
									<span>상호명</span>
								</div>
							</div>
							<div class="reviewer-info">
								<div class="reviewer-id">
									<span>사용자ID</span>
								</div>
								<div class="star">
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons-outlined">
										grade
									</span>
									<span class="material-icons-outlined">
										grade
									</span>
								</div>
								<div class="review-content round-box">
									<p>리뷰 내용...</p>
								</div>
							</div>
						</div>
						<div class="content-list">
							<div class="restr-info">
								<div class="img-box">
									<img src="/image/error 페이지용.jpg">
								</div>
								<div class="span-box">
									<span>상호명</span>
								</div>
							</div>
							<div class="reviewer-info">
								<div class="reviewer-id">
									<span>사용자ID</span>
								</div>
								<div class="star">
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons">
										grade
									</span>
									<span class="material-icons-outlined">
										grade
									</span>
									<span class="material-icons-outlined">
										grade
									</span>
								</div>
								<div class="review-content round-box">
									<p>리뷰 내용...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="best-review-btn">
					<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
						<button type="button" class="btn"><span class="material-icons-outlined">
								chevron_left
							</span></button>
						<button type="button" class="btn"><span class="material-icons-outlined">
								chevron_right
							</span></button>
					</div>
				</div>
			</div>
		</div>
		<aside class="recent"></aside>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>

</html>