<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>YOMI</title>
	<style>
		.star-wrap{
			overflow: hidden;
		}
		.star-wrap>span{
			float : left;
			color : var(--color2);
			font-size : 25px;
		}
		.star-on-wrap>span{
			color : var(--point2);
		}
		.star-on-wrap{
			width : 125px;
		}
		.star-origin{
			position : relative;
		}
		.star-on{
			position : absolute;
			left : 0;
			width : 0;
			overflow :hidden;
		}
		.star-wrap>span.score-num{
			font-size : 17px;
			line-height : 25px;
		}
	</style>
</head>

<body>
	<th:block th:include="common/header"></th:block>
	<main class="main index">
		<section class="best-restr">
			<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="bg-fade">
						<div class="carousel-item active">
							<div class="active-box">
								<a th:each="num : ${#numbers.sequence(0,3)}" th:href="${'/restaurant/restrView?restrNo='+restrList[num].restrNo}">
									<div class="restr-box round-box">
										<div class="img-box round-box shadow">
											<img th:src="@{'/yomi/'+${restrList[num].restrImg1}}" class="restr-img">
										</div>
										<div class="restr-name">
											<div class="star-origin star-wrap">
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="score-num" th:text="${restrList[num].reviewStar}"></span>
												<div class="star-on">
													<div class="star-score star-wrap star-on-wrap">
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
													</div>
												</div>
											</div>
											<span th:text="${restrList[num].restrName}">상호명</span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="carousel-item">
							<div class="active-box">
								<a th:each="num : ${#numbers.sequence(4,7)}" th:href="${'/restaurant/restrView?restrNo='+restrList[num].restrNo}">
									<div class="restr-box round-box">
										<div class="img-box round-box shadow">
											<img th:src="@{'/yomi/'+${restrList[num].restrImg1}}" class="restr-img">
										</div>
										<div class="restr-name">
											<div class="star-origin star-wrap">
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="score-num" th:text="${restrList[num].reviewStar}"></span>
												<div class="star-on">
													<div class="star-score star-wrap star-on-wrap">
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
													</div>
												</div>
											</div>
											<span th:text="${restrList[num].restrName}">상호명</span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="carousel-item">
							<div class="active-box">
								<a th:each="num : ${#numbers.sequence(8,11)}" th:href="${'/restaurant/restrView?restrNo='+restrList[num].restrNo}">
									<div class="restr-box round-box">
										<div class="img-box round-box shadow">
											<img th:src="@{'/yomi/'+${restrList[num].restrImg1}}" class="restr-img">
										</div>
										<div class="restr-name">
											<div class="star-origin star-wrap">
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="score-num" th:text="${restrList[num].reviewStar}"></span>
												<div class="star-on">
													<div class="star-score star-wrap star-on-wrap">
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
													</div>
												</div>
											</div>
											<span th:text="${restrList[num].restrName}">상호명</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev control-btn" type="button"
					data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next control-btn" type="button"
					data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</section>
		<section class="main-content">
			<div class="content">
				<div class="ad">
					<img src="/image/광고 연습용(자름).jpg">
				</div>
				<div class="best-review">
					<div class="best-review-title">
						<span>베스트 리뷰</span>
						<span><a href="#">리뷰 더보기</a></span>
					</div>
					<div class="best-review-content">
						<div class="content-page">
							<div class="content-list">
								<div class="restr-info">
									<div class="img-box">
										<img src="/image/error 페이지용.jpg">
									</div>
									<div class="span-box">
										<span>상호명</span>
									</div>
								</div>
								<div class="reviewer-info">
									<div class="reviewer-id">
										<span>사용자ID</span>
									</div>
									<div class="star">
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons-outlined">
											grade
										</span>
										<span class="material-icons-outlined">
											grade
										</span>
									</div>
									<div class="review-content round-box">
										<p>리뷰 내용...</p>
									</div>
								</div>
							</div>
							<div class="content-list">
								<div class="restr-info">
									<div class="img-box">
										<img src="/image/error 페이지용.jpg">
									</div>
									<div class="span-box">
										<span>상호명</span>
									</div>
								</div>
								<div class="reviewer-info">
									<div class="reviewer-id">
										<span>사용자ID</span>
									</div>
									<div class="star">
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons-outlined">
											grade
										</span>
										<span class="material-icons-outlined">
											grade
										</span>
									</div>
									<div class="review-content round-box">
										<p>리뷰 내용...</p>
									</div>
								</div>
							</div>
							<div class="content-list">
								<div class="restr-info">
									<div class="img-box">
										<img src="/image/error 페이지용.jpg">
									</div>
									<div class="span-box">
										<span>상호명</span>
									</div>
								</div>
								<div class="reviewer-info">
									<div class="reviewer-id">
										<span>사용자ID</span>
									</div>
									<div class="star">
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons-outlined">
											grade
										</span>
										<span class="material-icons-outlined">
											grade
										</span>
									</div>
									<div class="review-content round-box">
										<p>리뷰 내용...</p>
									</div>
								</div>
							</div>
							<div class="content-list">
								<div class="restr-info">
									<div class="img-box">
										<img src="/image/error 페이지용.jpg">
									</div>
									<div class="span-box">
										<span>상호명</span>
									</div>
								</div>
								<div class="reviewer-info">
									<div class="reviewer-id">
										<span>사용자ID</span>
									</div>
									<div class="star">
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons">
											grade
										</span>
										<span class="material-icons-outlined">
											grade
										</span>
										<span class="material-icons-outlined">
											grade
										</span>
									</div>
									<div class="review-content round-box">
										<p>리뷰 내용...</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="best-review-btn">
						<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
							<button type="button" class="btn"><span class="material-icons-outlined">
									chevron_left
								</span></button>
							<button type="button" class="btn"><span class="material-icons-outlined">
									chevron_right
								</span></button>
						</div>
					</div>
				</div>
			</div>
			<aside class="recent">
				<div class="recent-wrap">
					<div class="recent-title">
						<span>최근 본 맛집</span>
					</div>
					<div class="recent-box round-box">
						<div class="recent-item">
							<div class="img-box">
								<img src="/image/main 페이지용.jpg" alt="">
							</div>
							<div class="recent-name">
								<span>상호명</span>
							</div>
						</div>
						<div class="recent-item">
							<div class="img-box">
								<img src="/image/main 페이지용.jpg" alt="">
							</div>
							<div class="recent-name">
								<span>상호명</span>
							</div>
						</div>
						<div class="recent-item">
							<div class="img-box">
								<img src="/image/main 페이지용.jpg" alt="">
							</div>
							<div class="recent-name">
								<span>상호명</span>
							</div>
						</div>
					</div>
				</div>
			</aside>
		
		</section>
		<script>
			const scoreNum = $(".score-num");
			scoreNum.each(function(index, item){
				const percentNum = $(item).text()*25;
				$(item).next().css("width", percentNum+"px");
			})
		
			$("div.ad").on("click", function(){
				location.href="https://kh-academy.co.kr/main/main.kh";
			})
			
			
			//별점별 다르게 하는거 구현해야함
		</script>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>

</html>