<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>YOMI</title>
	<style>
		.star-wrap{
			overflow: hidden;
		}
		.star-wrap>span{
			float : left;
			color : var(--color2);
			font-size : 25px;
		}
		.star-on-wrap>span{
			color : var(--point2);
		}
		.star-on-wrap{
			width : 125px;
		}
		.star-origin{
			position : relative;
		}
		.star-on{
			position : absolute;
			left : 0;
			width : 0;
			overflow :hidden;
		}
		.star-wrap>span.score-num{
			font-size : 17px;
			line-height : 25px;
		}
		.content-page{
			display : none;
		}
		.content-page.show{
			display : block;
		}
		.recent-box{
			min-height : 429px;
		}
		.recent-item{
			display : none;
		}
	</style>
</head>

<body>
	<th:block th:include="common/header"></th:block>
	<main class="main index">
		<section class="best-restr">
			<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="bg-fade">
						<div class="carousel-item active">
							<div class="active-box">
								<a th:each="num : ${#numbers.sequence(0,3)}" th:href="${'/restaurant/restrView?restrNo='+restrList[num].restrNo}" th:if="${restrList.size()>=4}">
									<div class="restr-box round-box">
										<div class="img-box round-box shadow">
											<img th:src="@{'/yomi/'+${restrList[num].restrImg1}}" class="restr-img">
										</div>
										<div class="restr-name">
											<div class="star-origin star-wrap">
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="score-num" th:text="${restrList[num].reviewStar}"></span>
												<div class="star-on">
													<div class="star-score star-wrap star-on-wrap">
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
													</div>
												</div>
											</div>
											<span th:text="${restrList[num].restrName}">상호명</span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="carousel-item">
							<div class="active-box">
								<a th:each="num : ${#numbers.sequence(4,7)}" th:href="${'/restaurant/restrView?restrNo='+restrList[num].restrNo}" th:if="${restrList.size()>=8}">
									<div class="restr-box round-box">
										<div class="img-box round-box shadow">
											<img th:src="@{'/yomi/'+${restrList[num].restrImg1}}" class="restr-img">
										</div>
										<div class="restr-name">
											<div class="star-origin star-wrap">
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="score-num" th:text="${restrList[num].reviewStar}"></span>
												<div class="star-on">
													<div class="star-score star-wrap star-on-wrap">
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
													</div>
												</div>
											</div>
											<span th:text="${restrList[num].restrName}">상호명</span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="carousel-item">
							<div class="active-box">
								<a th:each="num : ${#numbers.sequence(8,11)}" th:href="${'/restaurant/restrView?restrNo='+restrList[num].restrNo}" th:if="${restrList.size()==12}">
									<div class="restr-box round-box">
										<div class="img-box round-box shadow">
											<img th:src="@{'/yomi/'+${restrList[num].restrImg1}}" class="restr-img">
										</div>
										<div class="restr-name">
											<div class="star-origin star-wrap">
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="material-icons">
													grade
												</span>
												<span class="score-num" th:text="${restrList[num].reviewStar}"></span>
												<div class="star-on">
													<div class="star-score star-wrap star-on-wrap">
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
														<span class="material-icons">
															grade
														</span>
													</div>
												</div>
											</div>
											<span th:text="${restrList[num].restrName}">상호명</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev control-btn" type="button"
					data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next control-btn" type="button"
					data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</section>
		<section class="main-content">
			<div class="content">
				<div class="ad">
					<img src="/image/광고 연습용(자름).jpg">
				</div>
				<div class="best-review">
					<div class="best-review-title">
						<span>베스트 리뷰</span>
						<span><a href="#">리뷰 더보기</a></span>
					</div>
					<div class="best-review-content">
						<div class="content-page show">
							<a th:each="num : ${#numbers.sequence(0,3)}" th:href="${'/restaurant/restrView?restrNo='+reviewList[num].restrNo}" th:if="${reviewList.size()>=4}">
								<div class="content-list">
									<div class="restr-info">
										<div class="img-box">
											<img th:src="@{'/review/'+${reviewList[num].reviewImg1}}" th:if="${reviewList[num].reviewImg1Exist}">
											<img th:src="@{'/yomi/'+${reviewList[num].restrImg1}}" th:unless="${reviewList[num].reviewImg1Exist}">
										</div>
										<div class="span-box">
											<span th:text="${reviewList[num].restrName}"></span>
										</div>
									</div>
									<div class="reviewer-info">
										<div class="reviewer-id">
											<span th:text="${reviewList[num].memberName}"></span>
										</div>
										<div class="star star-origin star-wrap">
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="score-num" th:text="${reviewList[num].reviewStar}"></span>
											<div class="star-on">
												<div class="star-score star-wrap star-on-wrap">
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
												</div>
											</div>
										</div>
										<div class="review-content round-box">
											<p th:text="${reviewList[num].reviewContent}">리뷰 내용...</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="content-page">
							<a th:each="num : ${#numbers.sequence(4,7)}" th:href="${'/restaurant/restrView?restrNo='+reviewList[num].restrNo}" th:if="${reviewList.size()>=8}">
								<div class="content-list">
									<div class="restr-info">
										<div class="img-box">
											<img th:src="@{'/review/'+${reviewList[num].reviewImg1}}" th:if="${reviewList[num].reviewImg1Exist}">
											<img th:src="@{'/yomi/'+${reviewList[num].restrImg1}}" th:unless="${reviewList[num].reviewImg1Exist}">
										</div>
										<div class="span-box">
											<span th:text="${reviewList[num].restrName}"></span>
										</div>
									</div>
									<div class="reviewer-info">
										<div class="reviewer-id">
											<span th:text="${reviewList[num].memberName}"></span>
										</div>
										<div class="star star-origin star-wrap">
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="score-num" th:text="${reviewList[num].reviewStar}"></span>
											<div class="star-on">
												<div class="star-score star-wrap star-on-wrap">
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
												</div>
											</div>
										</div>
										<div class="review-content round-box">
											<p th:text="${reviewList[num].reviewContent}">리뷰 내용...</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="content-page">
							<a th:each="num : ${#numbers.sequence(8,11)}" th:href="${'/restaurant/restrView?restrNo='+reviewList[num].restrNo}" th:if="${reviewList.size()==12}">
								<div class="content-list">
									<div class="restr-info">
										<div class="img-box">
											<img th:src="@{'/review/'+${reviewList[num].reviewImg1}}" th:if="${reviewList[num].reviewImg1Exist}">
											<img th:src="@{'/yomi/'+${reviewList[num].restrImg1}}" th:unless="${reviewList[num].reviewImg1Exist}">
										</div>
										<div class="span-box">
											<span th:text="${reviewList[num].restrName}"></span>
										</div>
									</div>
									<div class="reviewer-info">
										<div class="reviewer-id">
											<span th:text="${reviewList[num].memberName}"></span>
										</div>
										<div class="star star-origin star-wrap">
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="material-icons">
												grade
											</span>
											<span class="score-num" th:text="${reviewList[num].reviewStar}"></span>
											<div class="star-on">
												<div class="star-score star-wrap star-on-wrap">
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
													<span class="material-icons">
														grade
													</span>
												</div>
											</div>
										</div>
										<div class="review-content round-box">
											<p th:text="${reviewList[num].reviewContent}">리뷰 내용...</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="best-review-btn">
						<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
							<button type="button" class="btn prev"><span class="material-icons-outlined">
									chevron_left
								</span></button>
							<button type="button" class="btn next"><span class="material-icons-outlined">
									chevron_right
								</span></button>
						</div>
					</div>
				</div>
			</div>
			<aside class="recent">
				<div class="recent-wrap">
					<div class="recent-title">
						<span>최근 본 맛집</span>
					</div>
					<div class="recent-box round-box shadow">
						<div class="recent-item">
							<div class="img-box">
								<img src="" alt="">
							</div>
							<div class="recent-name">
								<span>상호명</span>
							</div>
						</div>
						<div class="recent-item">
							<div class="img-box">
								<img src="" alt="">
							</div>
							<div class="recent-name">
								<span>상호명</span>
							</div>
						</div>
						<div class="recent-item">
							<div class="img-box">
								<img src="" alt="">
							</div>
							<div class="recent-name">
								<span>상호명</span>
							</div>
						</div>
					</div>
				</div>
			</aside>
		
		</section>
		<script>
			const scoreNum = $(".score-num");
			scoreNum.each(function(index, item){
				const percentNum = $(item).text()*25;
				$(item).next().css("width", percentNum+"px");
			})
		
			$("div.ad").on("click", function(){
				location.href="https://kh-academy.co.kr/main/main.kh";
			})
			//베스트 리뷰 이전 버튼
			$("button.prev").on("click", function(){
				const bestReviewPages = $("div.content-page");
				const showPage = $("div.content-page.show");
				bestReviewPages.removeClass("show");
				const prevPage = showPage.prev();
				if(prevPage.length == 0){
					bestReviewPages.last().addClass("show");
				}else{
				showPage.prev().addClass("show");
				}
			});
			//베스트 리뷰 이후 버튼
			$("button.next").on("click", function(){
				const bestReviewPages = $("div.content-page");
				const showPage = $("div.content-page.show");
				bestReviewPages.removeClass("show");
				const nextPage = showPage.next();
				if(nextPage.length == 0){
					bestReviewPages.first().addClass("show");
				}else{
				showPage.next().addClass("show");
				}
			});
			//쿠키값 출력
			//맛집번호
			const restrNo = new Array();
			const restrNoCookie = Cookies.get("restrNo");
			const restrValArr = restrNoCookie.split("/");
			restrValArr.forEach(function(item){
				restrNo.push(item);
			})
			//맛집이름
			const restrName = new Array();
			const restrNameCookie = Cookies.get("restrName");
			const restrNameValArr = restrNameCookie.split(",");
			restrNameValArr.forEach(function(item){
				restrName.push(item);
			})
			//썸네일
			const restrImg1 = new Array();
			const restrImgCookie = Cookies.get("restrImg1");
			const restrImgArr = restrImgCookie.split(",");
			restrImgArr.forEach(function(item){
				restrImg1.push(item);
			})
			//넣기
			//없는 것들은 안나오게 해야함
			const imgbox = $("div.recent-item").find("img");
			restrImg1.forEach(function(item, index){
				imgbox.eq(index).attr("src", item);
			});
			const namebox = $("div.recent-name").children();
			restrName.forEach(function(item, index){
				namebox.eq(index).text(item);
			});
			//console.log(typeof restrNo[0]);
			const divbox = $("div.recent-item");
			divbox.css("cursor", "pointer");
			restrNo.forEach(function(item, index){
				divbox.eq(index).on("click", function(){
					location.href="/restaurant/restrView?restrNo="+item;
				});
				divbox.eq(index).show();
			});
		</script>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>

</html>